// reset.scss

// Reset

:root {
    box-sizing: border-box;
    font: normal normal 400 16px/1 sans-serif;
    color: #000;
}

*,
::before,
::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1;
}

html,
body {
    height: 100%;
}

body {
    .fixed {
        position: fixed;
        z-index: 99;
        top: 0;
    }
    
    .stopped {
        position: absolute;
    }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

picture {
    display: block;
    line-height: 0;
}

hr {
    height: 0;
    overflow: visible;
}

b,
strong {
  font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 75%;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}