// style.scss

// Style

// General

@import "./fonts.scss";
@import "./reset.scss";

// Libraries

@import "./libraries/ui.scss";

// Plugins

@import "./plugins/swiper-bundle.min.css";

// Blocks

// @import './blocks/mixins.scss';
// @import './blocks/hero.scss';
// @import './blocks/nikita.scss';
@import "./blocks/container.scss";
@import "./blocks/body.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/content.scss";
@import "./blocks/footer.scss";
@import "./blocks/title.scss";
@import "./blocks/brief.scss";
@import "./blocks/categories.scss";
@import "./blocks/category.scss";

@import "./blocks/picture.scss";
@import "./blocks/visibility-hidden";
@import "./blocks/file.scss";
@import "./blocks/sets.scss";
@import "./blocks/set.scss";
@import "./blocks/unit-block.scss";

@import "./blocks/units.scss";
@import "./blocks/unit.scss";
@import "./blocks/information.scss";
@import "./blocks/sub-categories.scss";
@import "./blocks/sub-category.scss";

@import "./blocks/help.scss";

@import "./blocks/manager.scss";

@import "./blocks/label-link.scss";
@import "./blocks/group-card.scss";
@import "./blocks/text-content.scss";

@import "./blocks/tabs.scss";
@import "./blocks/pointer.scss";
@import "./blocks/text.scss";
@import "./blocks/more-button.scss";
@import "./blocks/label.scss";
@import "./blocks/fslightbox.scss";
@import "./blocks/description.scss";

@import "./blocks/categories-head.scss";
@import "./blocks/sub-categories-head.scss";

@import "./blocks/popup.scss";
@import "./blocks/slider.scss";
@import "./blocks/more-link.scss";
@import "./blocks/no-scrollbar.scss";
@import "./blocks/text-block.scss";
@import "./blocks/addition.scss";

@import "./blocks/bricks.scss";
@import "./blocks/cards.scss";
@import "./blocks/contact-card.scss";
@import "./blocks/member-card.scss";
@import "./blocks/requisite-card.scss";
@import "./blocks/route-card.scss";
@import "./blocks/route-map.scss";
@import "./blocks/contact-section.scss";

@import "./blocks/garbage.scss";
@import "./blocks/pagination.scss";

@import "./blocks/catalog-issue.scss";

.p-list {

  &__header {
    background-color: #f5f5f5;
    display: grid;
    border-bottom: 2px solid rgba(79, 86, 89, 0.1);
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 176px;
  }

  &__head {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px 8px;
    font-size: 14px;
    line-height: 1.14;

    &:first-child {
      padding: 16px 32px;
    }
  }

  &__items {
    transition: 300ms;
    display: grid;
    border-bottom: 2px solid rgba(79, 86, 89, 0.1);
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 176px;
    background-color: #fff;

    &:hover{
      background: #F5F5F5;
    }

    ~&:hover{
      .p-list__options {
        opacity: 1;
      }
    }

  }

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    font-size: 16px;
    line-height: 1.25; 

    &:first-child {
      padding: 12px 32px;
    }

    &:last-child{
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__options {
    transition: 300ms;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
  }

  &__option {
    cursor: pointer;
    height: 100%;
    padding: 0px 8px;
    background: #F5F5F5;
    border-left: 2px solid rgba(79, 86, 89, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box{
    display: flex;
    align-items: flex-start;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill:#DD2B1C;

    span{
      display: flex;
      align-items: flex-start;
    }

  }

  &__text {
    font-family: 'TT Bluescreens';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #150F0F;
    margin-left: 6px;
  }
}

.table-wrapper{
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.p-mobile {

  &__block {
    background: #FFFFFF;
    margin-bottom: 8px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: 'PF Din Text Cond Pro';
    padding: 16px 16px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #150F0F;
    margin-bottom: 12px;

    @media screen and (min-width: 600px) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__content {
    padding: 0 16px 16px;

    font-family: 'PF Din Text Cond Pro';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: rgba(79, 86, 89, 0.7);
    border-bottom: 1px solid #EDEDED;

    @media screen and (min-width: 600px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__items {
    display: grid;
    grid-gap: 8px 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {

    
  }

  &__text {
    display: inline;
  }

  &__info {
    color: #150F0F;
    display: inline;
  }

  &__options {
    transition: 300ms;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__option {
    cursor: pointer;
    height: 100%;
    flex-grow: 10;
    padding: 18px 8px;
    background: #FFFFFF;
    border-left: 1px solid rgba(79, 86, 89, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child{
      border-left: none;
    }
  }

  &__box{
    display: flex;
    align-items: flex-start;
  }

  &__button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-button {
    font-family: 'TT Bluescreens';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: 8px;

    @media screen and (min-width: 600px) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill:#DD2B1C;

    span{
      display: flex;
      align-items: flex-start;
    }
  }
}





