// style.scss

// Style

// General

@import "./fonts.scss";
@import "./reset.scss";

// Libraries

@import "./libraries/ui.scss";

// Plugins

@import "./plugins/swiper-bundle.min.css";

// Blocks

// @import './blocks/mixins.scss';
// @import './blocks/hero.scss';
// @import './blocks/nikita.scss';
@import "./blocks/container.scss";
@import "./blocks/body.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/content.scss";
@import "./blocks/footer.scss";
@import "./blocks/title.scss";
@import "./blocks/brief.scss";
@import "./blocks/categories.scss";
@import "./blocks/category.scss";

@import "./blocks/picture.scss";
@import "./blocks/visibility-hidden";
@import "./blocks/file.scss";
@import "./blocks/sets.scss";
@import "./blocks/set.scss";
@import "./blocks/unit-block.scss";

@import "./blocks/units.scss";
@import "./blocks/unit.scss";
@import "./blocks/information.scss";
@import "./blocks/sub-categories.scss";
@import "./blocks/sub-category.scss";

@import "./blocks/help.scss";

@import "./blocks/manager.scss";

@import "./blocks/label-link.scss";
@import "./blocks/group-card.scss";
@import "./blocks/text-content.scss";

@import "./blocks/tabs.scss";
@import "./blocks/pointer.scss";
@import "./blocks/text.scss";
@import "./blocks/more-button.scss";
@import "./blocks/label.scss";
@import "./blocks/fslightbox.scss";
@import "./blocks/description.scss";

@import "./blocks/categories-head.scss";
@import "./blocks/sub-categories-head.scss";

@import "./blocks/popup.scss";
@import "./blocks/slider.scss";
@import "./blocks/more-link.scss";
@import "./blocks/no-scrollbar.scss";
@import "./blocks/text-block.scss";
@import "./blocks/addition.scss";

@import "./blocks/bricks.scss";
@import "./blocks/cards.scss";
@import "./blocks/contact-card.scss";
@import "./blocks/member-card.scss";
@import "./blocks/requisite-card.scss";
@import "./blocks/route-card.scss";
@import "./blocks/route-map.scss";
@import "./blocks/contact-section.scss";

@import "./blocks/garbage.scss";
@import "./blocks/pagination.scss";

@import "./blocks/catalog-issue.scss";
@import "./blocks/product-list-table.scss";
@import "./blocks/cart-product.scss";
@import "./blocks/catalog-output3.5.scss";
@import "./blocks/header-container.scss";
@import "./blocks/catalog-kit.scss";
@import "./blocks/catalog-delivery.scss";
@import "./blocks/product-description.scss";





