    // ui.scss

// UI

.ui {

    &-background {

        &-black {

            &-100 {
                background: rgba(17, 1, 1, 1);
            }

            &-90 {
                background: rgba(21, 15, 15, .9);
            }

            &-80 {
                background: rgba(21, 15, 15, .8);
            }
        }

        &-gray {

            &-100 {
                background: rgba(80, 87, 90, 1);
            }

            &-90 {
                background: rgba(80, 87, 90, .9);
            }

            &-40 {
                background: rgba(80, 87, 90, .4);
            }

            &-20 {
                background: rgba(80, 87, 90, .2);
            }

            &-10 {
                background: rgba(80, 87, 90, .1);
            }
        }

        &-white {

            &-100 {
                background: rgba(255, 255, 255, 1);
            }

            &-90 {
                background: rgba(255, 255, 255, .9);
            }

            &-40 {
                background: rgba(255, 255, 255, 0.4);
            }

            &-20 {
                background: rgba(255, 255, 255, .2);
            }

            &-10 {
                background: rgba(255, 255, 255, .1);
            }
        }

        &-red {

            &-100 {
                background: rgba(221, 43, 28, 1);
            }
        }

        &-light {
            background: rgb(245, 245, 245);
        }

        &-dark {
            background: #241a1ae6;
        }
    }

    &-color {

        &-black {

            &-100 {
                color: rgba(21, 15, 15, 1);
            }

            &-50 {
                color: rgba(21, 15, 15, .5);
            }
        }

        &-gray {

            &-100 {
                color: rgba(80, 87, 90, 1);
            }

            &-70 {
                color: rgba(80, 87, 90, .5);
            }

            &-50 {
                color: rgba(80, 87, 90, .5);
            }
        }

        &-white {

            &-100 {
                color: rgba(255, 255, 255, 1);
            }

            &-50 {
                color: rgba(255, 255, 255, .5);
            }

            &-60 {
                color: rgba(255, 255, 255, .6);
            }
        }

        &-red {

            &-100 {
                color: rgba(221, 43, 28, 1);
            }
        }
    }
}