// addition.scss

// Addittion

.addition {

    &__title-box {
        margin-bottom: 16px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 56px;
        }

        @media screen and (min-width: 1366px) {
            margin-bottom: 80px;
        }

        @media screen and (min-width: 1600px) {
            margin-bottom: 96px;
        }
    }
}