// body.scss

// Body

.body {

    &__page {
        position: relative;
        overflow: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &--locked {
        position: relative;
        overflow: hidden;
    }

    &__popup {
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        display: none;
        z-index: 9999;
        width: 100%;
        height: 100%;

        &--active {
            display: block;
        }

        &--show-animation {
            animation: fadeInPopup .4s;
        }

        @keyframes fadeInPopup {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        &--hide-animation {
            animation: fadeOutPopup .4s;
        }

        @keyframes fadeOutPopup {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

    }
}