
// bricks.scss

// Bricks

.main__bricks {

    &--contacts {
        margin: 16px 0 24px;

        @media screen and (min-width: 600px) {
            margin-bottom: 32px;
        }

        @media screen and (min-width: 1024px) {
            margin: 40px 0 48px;
        }
    }
}

.bricks {

    &__inner {
        position: relative;
        z-index: 100;
        overflow: auto;
        display: flex;
        margin: 0 -16px;
        padding: 0 16px;
    }

    &__list {
        flex: 1 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        letter-spacing: .03em;

        &::after {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: rgba(79, 86, 89, 0.2);
        }
    }

    &__item {
        flex: 0 0 auto;

        &:not(:first-child) {
            margin-left: 24px;
        }
    }

    &__brick {
        position: relative;
        display: block;
        margin: 0;
        padding: 0 0 8px;
        border: 0;
        border-radius: 0;
        background: none;
        box-shadow: none;
        line-height: inherit;
        letter-spacing: inherit;
        color: inherit;
    
        @media screen and (min-width: 1024px) {
            padding-bottom: 16px;
            transition: color .4s;
        }

        &:hover {

            @media screen and (min-width: 1024px) {
                color: #DD2B1C;
            }
        }
    
        &::after {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            transition: background-color .4s;
        }
    
        &--active::after {
            background: #DD2B1C;
        }
    }

    &__body {
        margin-top: 24px;

        @media screen and (min-width: 1024px) {
            margin-top: 48px;
        }

        @media screen and (min-width: 1366px) {
            
        }

        @media screen and (min-width: 1600px) {
            margin-top: 76px;
        }
    }

    &__content {
        display: none;

        &--active {
            display: block;
            animation: tabsContentAnimation .8s;
        }

        @keyframes tabsContentAnimation {
            0%  {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}