/**/
/* container */
//! container
.container{
  padding: 0 16px;
  width: 100%;
  max-width: 100%;

  @media screen and (min-width: 1024px) {
    padding: 0 32px;
  }

  @media screen and (min-width: 1600px) {
    padding: 0 48px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/* block-wrapper */
//! block-wrapper
.block-wrapper{
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background: #ededed;
}

/* quick-order */
//! quick-order
.quick-order {
  @media screen and (min-width: 600px) {
    &.mobi{
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    &.pc{
      display: block;
    }
  }

  display: block;
  padding: 18px 16px 0px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 16px;
    border-bottom: 1px solid #CDCFCF;

    @media screen and (min-width: 1024px) {
      border-bottom: 3px solid #CDCFCF;
      width: 80%;
    }

    @media screen and (min-width: 1600px) {
      width: 65%;
    }

    @media screen and (min-width: 1920px) {
      width: 50%;
    }

  }

  &__title {
    font-family: 'TT Bluescreens';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DD2B1C;

    @media screen and (min-width: 1024px) {
      font-size: 36px;
      line-height: 36px;

    }

    @media screen and (min-width: 1366px) {
      font-size: 44px;
      line-height: 44px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__icon {
    display: flex;
    align-items: flex-start;
    fill:#CDCFCF;
    width: 16px;
    height: 16px;

    @media screen and (min-width: 1024px) {
      display: none;
    }

    @media screen and (min-width: 1600px) {
      display: flex;
      width: 25px;
      height: 25px;
    }
  }
}


/* nav-wrap */
//! nav-wrap
.nav-wrap{
  margin-top: 4px;
  @media screen and (min-width: 600px) {
    margin: 4px 0 24px;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 10px;
  }

  @media screen and (min-width: 1600px) {
    padding: 0 48px;
    margin: 40px auto 10px;
    max-width: 1920px;
  }

  
}

/* print */
//! print
.print {
  color: rgba(79, 86, 89, 0.7);
  transition: 800ms;
  display: block;
  padding: 16px 16px 8px;

  @media screen and (min-width: 600px) {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    display: block;
    padding: 0;

    &:hover{
      color: #DD2B1C;

      .print__images{
        fill:#DD2B1C;
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__images {
    transition: 800ms;
    width: 20px;
    height: 20px;
    fill:rgba(79, 86, 89, 0.4);
    margin-right: 8px;

    @media screen and (min-width: 1366px) {
      width: 24px;
      height: 24px;
      
    }
  }

  &__title {
    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
}

/* cart-product */
//! cart-product
.cart-product {

  /* site-navigation */
  //? site-navigation
  .site-navigation{
    margin: 0;

    &__inner{
      @media screen and (min-width: 1024px) {
        padding: 0;
      }
    }
  }

  .about-product{
    /* description */
    //? description
    .description{
      margin-top: 0;
      &__container{
        padding: 0 16px;

        @media screen and (min-width: 1024px) {
          margin: 0;
        }
      }

      p{
        margin-top: 0;
      }
    }
  }

  /* sub-categories-head__description */
  //? sub-categories-head__description
  .sub-categories-head__description{
    margin-left: 0;

    @media screen and (min-width: 600px) {
      max-width: 100%;
    }
  }

  /* tabs */
  //? tabs
  .tabs{
    margin-bottom: 40px;

    @media screen and (min-width: 600px) {
      margin-bottom: 80px;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 130px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 160px;
    }
  }

  /* help-wrap */
  //? help-wrap
  .help-wrap{
    margin-bottom: 40px;

    @media screen and (min-width: 600px) {
      display: none;
    }

    @media screen and (min-width: 1024px) {
      display: block;
      margin-bottom: 130px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 160px;
    }
  }

    /* addition */
  //? addition
  .addition{
    article{
      &:last-child{
        display: none;

        @media screen and (min-width: 1024px) {
          display: flex;
        }

        @media screen and (min-width: 1600px) {
          display: none;
        }
      }
    
    }
  }

  /* p-list  */
  //? p-list 
  .p-list {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(79, 86, 89, 0.1);

    &__item{
      &:last-child{
        transition: 300ms;
        display: none;

        @media screen and (min-width: 1024px) {
          display: flex;
          opacity: 0;
        }
      }

      &:first-child{
        flex-grow: 10;
      }

      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;

    }

    &__options{
      opacity: 1;
      margin-top: 0;
    }
  }

  /* main__layout  */
  //? main__layout 
  .main__layout{
    margin-bottom: 40px;

    @media screen and (min-width: 600px) {
      margin-bottom: 80px;
    }

    
    @media screen and (min-width: 1366px) {
      margin-bottom: 128px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 160px;
    }
  }
  
}

  /* about-product */
  //! about-product
  .about-product {
    &__description {
      font-family: 'TT Bluescreens';
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      color: #150F0F;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.03em;
      padding: 0 16px;

      span {
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 0 16px;
      }

      @media screen and (min-width: 600px) {
        font-size: 56px;
        line-height: 56px;
        padding: 0;

        span{
          display: none;
        }
      }

      @media screen and (min-width: 1024px) {
        margin-bottom: 24px;
      }

      @media screen and (min-width: 1366px) {
        font-size: 64px;
        line-height: 64px;
      }

      @media screen and (min-width: 1600px) {
        font-size: 80px;
        line-height: 80px;
      }

      @media screen and (min-width: 1920px) {
        max-width: 930px;
      }
    }

    &__images {
      position: relative;
      padding: 0 16px;
      margin-bottom: 16px;
      //height: 144px;
      height: 100%;
      max-height: inherit;

      @media screen and (min-width: 600px) {
        //height: 256px;
        display: flex;
        align-items: center;
      }

      @media screen and (min-width: 1024px) {
        width: 413px;
        //height: 296px;
        margin-left: 65px;
        //padding: 0;
        display: flex;
        align-items: flex-start;
        width: 50%;
      }

      @media screen and (min-width: 1366px) {
        //img{
        //  height: 344px;
        //}
        //height: 344px;
      }

      @media screen and (min-width: 1600px) {
        width: 653px;
        //height: 440px;
        flex-shrink: 0;

        img{
          height: 100%;
          width: 100%;
        }
      }

      @media screen and (min-width: 1920px) {
        width: 773px;
        //height: 456px;
      }
    }

    &__contain{
      @media screen and (min-width: 1024px) {
        padding-left: 85px;
      }
    }

    &__container-text{
      @media screen and (min-width: 600px) {
        margin-bottom: 16px;
      }
    }

    &__text{
      margin-bottom: 40px;
    }
  }

  /* swiper-product */
  //! swiper-product
  .swiper-product {
    display: block;

    &__slide {
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 0 40px;

      @media screen and (min-width: 600px) {
        padding: 70px 0;
      }

      @media screen and (min-width: 1024px) {
        padding: 16px 0;
      }
      span {
        height: inherit;
      }

      picture {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        height: inherit;
      }

      img {
        height: 100%;
      }

      @media screen and (min-width: 1024px) {
        height: inherit;
      }
    }

    &__next,
    &__prev {
      right: auto;
      bottom: 0px;
      span {
        display: flex;
        align-items: flex-start;
        svg {
          width: 16px;
          height: 16px;
        }
      }

      @media screen and (min-width: 1024px) {
        display: flex;
        left: auto;
        bottom: 10px;
        left: auto;

        span{
          svg{
            width: 25px;
            height: 20px;
          }
        }
    
      }

      @media screen and (min-width: 1366px) {
        bottom: 20px;
      }
    }

    &__next {
      left: 26px;

      @media screen and (min-width: 1024px) {
        right: 16px;
      }
    }

    &__prev {
      left: -8px;
      @media screen and (min-width: 1024px) {
        right: 56px;
      }
    }
  }

  /* other-products */
  //! other-products
.other-products {
  margin-bottom: 40px;

  @media screen and (min-width: 600px) {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    display: block;
    margin-bottom: 130px;
  }

  @media screen and (min-width: 1600px) {
    margin-bottom: 160px;
  }

  .mobi{
    @media screen and (min-width: 600px) {
      display: none;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .pc{
    display: none;
    @media screen and (min-width: 1024px) {
      display: flex;
    }
  }

  &__title{
    font-family: 'TT Bluescreens';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #150F0F;
    margin-bottom: 16px;

    @media screen and (min-width: 1024px) {
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 55px;
    }

    @media screen and (min-width: 1366px) {
      margin-bottom: 65px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 104px;
      line-height: 104px;
      margin-bottom: 70px;
    }
  }

  &__items {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(1, 1fr);

    
    @media screen and (min-width: 1024px) {
      margin-left: 228px;
      grid-gap: 2px;

      .p-list__item{
        font-size: 14px;
        line-height: 16px;
      }
    }

    @media screen and (min-width: 1366px) {
      .p-list__item{
        font-size: 16px;
        line-height: 20px;
      }
    }

    @media screen and (min-width: 1600px) {
      margin-left: 256px;
      .p-list__item{
        font-size: 20px;
        line-height: 24px;
      }
    }

    @media screen and (min-width: 1920px) {
      margin-left: 309px;
    }
  }

  &__item {


    span{
      font-weight: 500;
    }

    @media screen and (min-width: 1024px) {
      a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &:nth-child(n+5){
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
      }
    }
  }

  &__description {
    display: flex;
    transition: 300ms;

    &.p-list{
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
      }

      .p-list__item{
        .p-list__option{
          &:first-child{
            @media screen and (min-width: 1024px) {
              .p-mobile__text-button{
                display: none;
              }
            }
          }
        }
        &:first-child{
          padding: 16px;
          span{
            margin-left: 8px;
          }
        }
        &:last-child{
          display: flex;
          padding: 0 16px;

          @media screen and (min-width: 1024px) {
            padding: 0;
            height: 100%;
          }
        }

      }
    
    }

    @media screen and (min-width: 1024px) {
      &:hover{
        background: #F5F5F5;
        .p-list__item{
          &:last-child{
            opacity: 1;
          }
        }
      }
    }

  }



  &__buttons {
  }
}








