/*catalog-table*/
//! catalog-table
.catalog-table {
  /*page__row*/
  //? page__row
  .page {
    &__row {
      position: relative;
      margin-bottom: 16px;

      @media screen and (min-width: 600px) {
        margin-bottom: 24px;
      }

      @media screen and (min-width: 1024px) {
        margin-bottom: 32px;
      }

      @media screen and (min-width: 1366px) {
        margin-left: 0;
      }
    }

    &__sidebar {
      width: 100%;

      @media screen and (min-width: 1366px) {
        width: 25%;
      }

      .file{
        display: flex;
        width: 100%;

        margin-bottom: 20px;

        @media screen and (min-width: 1024px) {
          display: none;
        }

        @media screen and (min-width: 1366px) {
          display: flex;
        }
      }
      @media screen and (min-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  /*main__layout*/
  //? main__layout
  .main__layout{
    margin-bottom: 40px;
    @media screen and (min-width: 600px) {
      margin-bottom: 80px;
    }

    @media screen and (min-width: 1366px) {
      margin-bottom: 128px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 160px;
    }
  }

  /*description__more-button*/
  //? description__more-button
  .description__more-button {
    margin-top: 0;
  }

  /*description__container*/
  //? description__container
  .description__container {
    padding: 40px 0;

    @media screen and (min-width: 1024px) {
      margin-left: 80px;
    }
  }

  .about-product{
    /*description*/
    //? description
    .description {
      &__content {
        p {

          margin-top: 0;
          @media screen and (min-width: 1366px) {
            margin-top: 15px;
            font-size: 20px;
            line-height: 32px;
          }

          @media screen and (min-width: 1600px) {
            font-size: 24px;
            line-height: 40px;
          }

          span {
            color: #150f0f;
            display: block;

            @media screen and (min-width: 1366px) {
              margin-top: 30px;
              color: #f5f5f5;
              color: transparent;
              background: rgb(218, 218, 218);
              background: linear-gradient(
                0deg,
                rgba(218, 218, 218, 1) 0%,
                rgba(189, 188, 188, 1) 35%,
                rgba(147, 145, 145, 1) 100%
              );
              background-clip: border-box;
              background-clip: border-box;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }

      &__container-table {
        width: 100%;
        overflow: scroll;
      }
    }
  }

  /*text-dropdown*/
  //? text-dropdown
  .text-dropdown {
    font-size: 18px;
    line-height: 28px;
    padding: 16px;

    .description__container {
      padding: 0 16px;
    }

    .sub-categories-head__description {
      margin: 0;
    }

    @media screen and (min-width: 660px) {
      font-size: 18px;
      line-height: 22px;
      width: 1110px;
    }

    @media screen and (min-width: 1024px) {
      padding: 40px 0;
    }

    font-size: 24px;
    line-height: 40px;
  }

  /*tabs*/
  //? tabs
  .tabs {
    padding: 0 16px;
    margin-bottom: 40px;

    @media screen and (min-width: 600px) {
      margin-bottom: 80px;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 130px;
      padding: 0 32px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 160px;
      padding: 0 48px;
    }
  }

  /*about-product*/
  //? about-product
  .about-product {
    &__description {
      margin-bottom: 16px;
      background: #ededed;
      padding: 14px 16px 16px;
      font-family: 'TT Bluescreens';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 44px;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @media screen and (min-width: 600px) {
        font-size: 64px;
        line-height: 64px;
        padding: 24px 0px 16px;
      }

      @media screen and (min-width: 1024px) {
        font-weight: 700;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 0.04em;
        padding: 0;
      }

      @media screen and (min-width: 1366px) {
        font-size: 104px;
        line-height: 104px;
      }
    }

    .description{
      &__container{
        @media screen and (min-width: 1024px) {
          padding: 0;
        }
      }
    }

    &__images{
      @media screen and (min-width: 1024px) {
        margin-left: 25px;
      }
    }
  }

  /*site-navigation*/
  //? site-navigation
  .site-navigation {
    margin: 4px 0 14px;

    @media screen and (min-width: 600px) {
      margin: 4px 0 24px;
    }

    @media screen and (min-width: 1024px) {
      margin: 40px 0 10px;
    }

    @media screen and (min-width: 1920px) {
      margin: 24px auto 10px;
    }
  }

  /*sidebar__block--ms-hidden*/
  //? sidebar__block--ms-hidden
  .sidebar__block--ms-hidden {
    display: block;
    height: 100%;
    max-width: 300px;
    margin: 116px 16px 32px;
    background: #f5f5f5;

    @media screen and (min-width: 1024px) {
      margin: 0;
    }

    button {
      text-align: left;
      padding: 24px 24px 24px 32px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #e4e5e5;
      background: transparent;
      svg {
        display: none;
      }
    }

    .unit-block__button {
      @media screen and (min-width: 1366px) {
        padding: 32px 82px 32px 62px;
      }
    }

    @media screen and (min-width: 1366px) {
      max-width: 100%;
      margin: 0;
      background: transparent;

      button {
        background: #f5f5f5;
        border: auto;
        padding: auto;
        svg {
          display: flex;
        }
      }
    }

    .active {
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 60%;
        background: #dd2b1c;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .unit-block {
      height: 100%;
    }

    .units {
      &__item {
      
        &:nth-child(n + 2) {
          a {
            padding: 12px 48px;
          }
        }
      }

      height: 100%;

      &__item {
        @media screen and (min-width: 1366px) {
          padding: 0;
        }
      }
    }

    .ui-background-light {
      display: block;
      padding: 12px 32px;
    }
  }

  /*information-wrapper*/
  //? information-wrapper
  .information-wrapper {
    display: none;
    @media screen and (min-width: 1366px) {
      display: block;
    }
  }

  /*prompt*/
  //? prompt
  .prompt {
    top: -100%;
    left: 0;

    @media screen and (min-width: 1024px) {
      
    }

    @media screen and (min-width: 1366px) {
      left: 150px;
      top: -108px;
    }
  }

}

.block-dropdown{

  .unit-block__icon{
    display: none;
    @media screen and (min-width: 1366px) {
      display: flex;
    }
  }


}


/*fancybox-popap*/
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//! fancybox-popap
.fancybox-bg{
  background: rgba(0, 0, 0, 0.5);
}

.fancybox-content{
  padding: 0;
}

.fancybox-slide{
  text-align: left;
  top: 0px;
  left: 0px;

  @media screen and (min-width: 600px) {
    padding: 16px 32px;
  }
}

.fancybox-slide--html{
  padding: 0;
}

.fancybox-active {
  height: auto;
  overflow: hidden;
}
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

/*main-modal*/
//! main-modal
.main-modal{
  width: 320px;
  background: #F5F5F5;
  display: none;

  .unit--small{
    padding: 12px 32px;
  }

  .unit-block__button {
    width: 100%;
    position: relative;
    padding: 12px 56px 12px 32px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(79,86,89,.1);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    cursor: pointer;
  }
  .sidebar {

    &__block {
      display: flex;
        &--ms-hidden {
            display: flex;
        }

      }
  }

  @media screen and (min-width: 600px) {
    width: 300px;
    height: 745px;
  }
  
  @media screen and (min-width: 1366px) {
    width: 100%;
    display: block;
    height: auto;
  }
}

/*sub-catalog*/
//! sub-catalog
.sub-catalog {
  max-height: 0;
  overflow: hidden;
  transition: 800ms;
}

/*catalog-item*/
//! catalog-item
.catalog-item {
  position: relative;
  // margin-top: 24px;
}

/*cat-header*/
//! cat-header
.cat-header {
  position: absolute;
  bottom: -24px;
  left: 0;

  @media screen and (min-width: 1600px) {
    bottom: -35px;
  }
}

.body-scroll{
  overflow: auto;
  width: 100%;
}

/*properties-table*/
//! properties-table

.properties-table {
  background: #f5f5f5;
  padding: 16px;
  width: 100%;
  color: #50575a;
  overflow-x: scroll;
  font-family: 'PF Din Text Cond Pro';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;

  @media screen and (min-width: 600px) {
    font-size: 18px;
    line-height: 22px;
  }

  @media screen and (min-width: 1366px) {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: 1600px) {
    font-size: 24px;
    line-height: 28px;
  }

  thead {
    white-space: nowrap;

    th {
      font-weight: 500;
      display: inline-block;
      width: 53px;
      margin: 0 8px;

      &:first-child {
        width: 109px;
        margin-left: 0;

        @media screen and (min-width: 600px) {
          width: 117px;
        }

        @media screen and (min-width: 1366px) {
          width: 184px;
        }

        @media screen and (min-width: 1600px) {
          width: 224px;
        }
      }

      @media screen and (min-width: 600px) {
        width: 59px;
      }

      @media screen and (min-width: 1366px) {
        width: 78px;
      }

      @media screen and (min-width: 1600px) {
        width: 94px;
      }
    }
  }

  tr {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 8px;

    &:not(:last-child){
      border-bottom: 1px solid rgba(79, 86, 89, 0.1);
      padding-bottom: 8px;
    }

  }

  td {
    display: inline-block;
    width: 53px;
    margin: 0 8px;
    font-weight: 300;

    &:not(:first-child){
      white-space: nowrap; 
    }

    @media screen and (min-width: 660px) {
      width: 59px;
    }

    @media screen and (min-width: 1366px) {
      width: 78px;
    }

    @media screen and (min-width: 1600px) {
      width: 94px;
    }

    &:first-child {
      display: inline-block;
      font-weight: 500;
      width: 109px;
      padding-left: 0;
      text-align: left;
      margin-left: 0;

      @media screen and (min-width: 600px) {
        width: 117px;
      }

      @media screen and (min-width: 1366px) {
        width: 184px;
      }


      @media screen and (min-width: 1600px) {
        width: 224px;
      }
    }
  }
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='color'],
input[type='email'],
input[type='password'] {
  width: 100px;
  height: 20px;
  font: 400 16px sans-serif;
  padding: 0px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
  &::placeholder {
    color: #150f0f;
    opacity: 0.5;
  }
  &::-moz-placeholder {
    color: #150f0f;
    opacity: 0.5;
  }
}

/*filter*/
//! filter
.filter {
  background: #f5f5f5;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    height: auto;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 32px;

    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  @media screen and (min-width: 1600px) {
    font-size: 20px;
    line-height: 24px;
  }

  .bb {
    border-bottom: 2px solid rgba(79, 86, 89, 0.1);
    padding-bottom: 24px;
  }

  .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 16px;
    visibility: visible;
    opacity: 1;

    input {
      display: none;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 24px;
      height: 24px;
      background: #ffffff;
      cursor: pointer;
      box-sizing: border-box;
      margin-right: 8px;
      position: relative;
      transition: 300ms;

      svg {
        display: flex;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden;
        width: 16px;
        height: 11px;
      }
    }

    input:checked + span svg {
      opacity: 1;
      visibility: visible;
    }
  }

  .catalog-categories {
    display: flex;
    flex-direction: column;
    transition: 900ms;
    opacity: 1;
    visibility: visible;
    height: auto;
    height: 100%;

    &.categories {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
  }

  .input {
    border: none;
    width: 100%;

    @media screen and (min-width: 1366px) {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
    }
    @media screen and (min-width: 1600px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__head {
    position: relative;
    &.bb {
      padding-bottom: 48px;

      @media screen and (min-width: 1600px) {
        padding-bottom: 60px;
      }
    }
  }

  &__inner {
    padding: 16px;
    flex-grow: 10;

    @media screen and (min-width: 1024px) {
      padding: 32px;
    }
  }

  &__head-title {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;

    span {
      margin-left: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: rgba(79, 86, 89, 0.1);

      svg {
        transition: 800ms;
        width: 7px;
        height: 15px;
        fill: #dd2b1c;
      }
    }
  }

  &__close {
    &-text {
      font-family: 'TT Bluescreens';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 44px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
  }

  &__show-more {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    color: #dd2b1c;
    border: none;
    background: transparent;

    b {
      border-bottom: 2px dashed rgba(79, 86, 89, 0.4);
      padding-bottom: 8px;
    }

    span {
      padding-bottom: 8px;
      margin-left: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    @media screen and (min-width: 1600px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__additional-button {
    padding-top: 24px;
    .radio {
      margin: 0;
    }
  }

  &__input {
    &-title {
      margin-bottom: 12px;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #150f0f;

      @media screen and (min-width: 1600px) {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
      }
    }

    &-body {
      padding-top: 24px;
    }

    &-items {
      display: flex;
      align-items: center;
    }

    &-item {
      &:first-child {
        margin-right: 40px;
        position: relative;

        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 16px;
          height: 2px;
          background: #150f0f;
          right: -28px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      label {
        display: flex;
        align-items: center;
        background: #ffffff;
        height: 36px;
        padding: 0 8px;
      }

      span {
        margin-right: 4px;
      }
    }
  }

  &__button {
    font-family: 'TT Bluescreens';
    cursor: pointer;
    padding: 0px 32px;

    &-text {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &-inner {
      transition: 800ms;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      padding: 28px 0;
      overflow: hidden;

      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background: #dcddde;
        right: 0px;
        bottom: 0;
      }

      &::after {
        transition: 800ms;
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background: #dd2b1c;
        left: -100%;
        bottom: 0;
      }
    }

    &-img {
      display: flex;
      align-items: flex-start;
      svg {
        width: 20px;
        height: 24px;
      }
    }

    &.reset {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      background: #ffffff;

      .filter__button-text {
        transition: 800ms;
        color: rgba(79, 86, 89, 0.4);
      }

      svg {
        transition: 800ms;
        fill: #b9bcbd;
      }

      &:hover {
        svg {
          fill: #dd2b1c;
        }

        .filter__button-text {
          color: #dd2b1c;
        }

        .filter__button-inner {
          &::after {
            left: 0;
          }
        }
      }
    }

    &.apply {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      background: #dd2b1c;
      padding: 0;
      display: flex;
      align-items: center;
      .filter__button-text {
        color: #ffffff;
        font-family: 'TT Bluescreens';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        flex-grow: 10;
      }

      .filter__button-img {
        padding: 20px 16px;
        background: rgba(21, 15, 15, 0.9);
        margin-right: 16px;

        svg {
          fill: #555151;

          position: relative;
          &::before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 4px;
            background: #555151;
            right: 0px;
            bottom: 0;
          }
        }
      }

      .filter__button-arrow {
        margin-right: 16px;
        svg {
          width: 16px;
          height: 16px;

          fill: #eb8077;
        }
      }
    }
  }
}

.prompt-button {
  transition: 800ms;

  &:hover {
    background: #dd2b1c;
    svg {
      fill: #fff;
    }
  }
}

/*menu-mobile*/
//! menu-mobile
.menu-mobile {
  .pc {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 32px;

    .mobi {
      display: none;
    }

    .pc {
      display: flex;
    }
  }

  @media screen and (min-width: 1366px) {
    display: none;
  }

  margin-bottom: 8px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    background: #f5f5f5;
    flex-grow: 10;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @media screen and (min-width: 1024px) {
        justify-content: space-between;
      
      }
    }

    &:hover {
      .menu-mobile__text {
        color: #dd2b1c;
      }
      span {
        svg {
          fill: #dd2b1c;
        }
      }
    }

    &:first-child {
      margin-right: 4px;

      @media screen and (min-width: 1024px) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 1024px) {
      justify-content: space-between;
      width: 33%;
      padding: 24px 32px;
      margin-left: 2px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__text {
    transition: 800ms;
    font-family: 'TT Bluescreens';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #150f0f;

    @media screen and (min-width: 1024px) {
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: #150f0f;
      text-transform: none;
    }
  }

  span {
    display: flex;
    align-items: flex-start;
    margin-right: 8px;

    svg {
      transition: 800ms;

      width: 18px;
      height: 21px;
      fill: #dd2b1c;

      @media screen and (min-width: 1024px) {
        fill: rgba(79, 86, 89, 0.4);
      }
    }
  }
}

/*filter-mobile*/
//! filter-mobile
.filter-mobile {
  width: 100%;
  height: 100%;
  @media screen and (min-width: 600px) {
    max-width: 300px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 100%;
    margin: 32px 0 0 0;
  }
}

/*body__popup*/
//! body__popup
.body__popup {
  display: none;
  position: fixed;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 100;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &--active {
    display: block;
  }
}

/*modal*/
//! modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  @media screen and (min-width: 1366px) {
    position: static;
    display: block;
    background: transparent;
    overflow: visible;
  }
}

/*modal-window*/
//! modal-window
.modal-window {
  position: relative;
  background-color: #ffffff;
  width: 50%;
  margin-top: 85px;
}

.modal-window.small {
  width: 100%;
  max-width: 300px;
}

.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.3);
  color: red;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.modal-window {
  position: relative;
  background-color: #ffffff;
  width: 50%;
}

.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 16px;
  color: #110101;
  height: 24px;
  width: 24px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.close:hover,
.close:focus {
  color: #000000;
  cursor: pointer;
}

.open {
  display: block;
}

/*parts-list*/
//! parts-list
.parts-list {
  background: #f5f5f5;
  max-width: 300px;
  height: 100%;
  width: 100%;
  margin-top: 84px;

  @media screen and (min-width: 600px) {
    margin-top: 88px;
    margin: 116px 16px 32px;
  }

  &__inner {
    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  &__title {
    padding: 24px 32px;
  }

  &__subtitle {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 12px 32px;
  }

  &__items {
  }

  &__item {
    padding: 12px 32px 12px 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;

    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 18px;
      position: absolute;
      transition: 300ms;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
    }

    &:hover {
      &:before {
        background: #dd2b1c;
      }
    }

    &.active {
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 18px;
        position: absolute;
        transition: 300ms;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: #dd2b1c;
      }
    }
  }
}

/*prompt*/
//! prompt

.prompt {
  transition: 800ms;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 10000000;
  left: 0;
  top: -100%;
  padding: 24px;
  background: #ffffff;
  width: 100%;
  height: 300px;

  @media screen and (min-width: 1366px) {
    width: 370px;
    top: -108px;

    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-right: 15px solid #ffffff;
      border-bottom: 15px solid transparent;
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.active {
    top: 0;
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #150f0f;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;

    @media screen and (min-width: 1366px) {
      display: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__button {
    display: flex;
    align-items: flex-start;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

/*site-navigation*/
//! site-navigation
.site-navigation {
  font-family: 'PF Din Text Cond Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(79, 86, 89, 0.7);

  &__list{
    @media screen and (min-width: 1024px) {
      padding-bottom: 9px;
      border-bottom: 2px solid rgba(79, 86, 89, 0.2);
      &:not(:first-child){
        margin-left: 30px;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background: #50575a;
          border-radius: 50%;
          position: absolute;
          left: -16px;
          top: 5px;
        }
      }
    }
  
  }


  @media screen and (min-width: 1920px) {
    max-width: 1920px;
    margin: 40px auto 16px;
  }

  .pc {
    display: none;
  }

  .mobi {
    display: flex;
  }
  @media screen and (min-width: 600px) {
    font-weight: 300;
    font-size: 18px;
  }

  @media screen and (min-width: 1024px) {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin: 40px 0 10px;
    color: #150f0f;

    .pc {
      display: block;
    }

    .mobi {
      display: none;
    }
  }

  @media screen and (min-width: 1366px) {
    font-size: 14px;
    line-height: 16px;
  }

  &__inner {
    background: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 10px 16px;

    @media screen and (min-width: 1024px) {
      padding: 0 32px;
      background: #ededed;
    }

    @media screen and (min-width: 1600px) {
      padding: 0 48px;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: flex-start;
      margin-right: 8px;

      svg {
        fill: rgba(79, 86, 89, 0.4);
        width: 16px;
        height: 16px;
      }
    }


  }

  &--dark{
    color: #FFFFFF;
    margin: 4px 0 14px;
    border-top: none;

    span{
      svg{
        fill:#ffffff;
      }
    }

    .site-navigation__inner{
    background: rgba(21, 15, 15, 0.9);

      @media screen and (min-width: 1024px) {
        color: #FFFFFF;
        background: transparent;
      }
    }

    .site-navigation__list{
      @media screen and (min-width: 1024px) {
        &::before{
          display: none;
        }
      }
    }
  
  }
}

/*about-product*/
//! about-product
.about-product {

  @media screen and (min-width: 1920px) {
    max-width: 1920px;
    margin: 0 auto;
  }

  .pc {
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  .mobi {
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__inner {
    @media screen and (min-width: 600px) {
      padding: 0 16px;
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      padding: 0 32px;
    }

    @media screen and (min-width: 1600px) {
      padding: 0 48px;
      justify-content: space-between;
    }
  }

  .description__content {
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #ededed 100%);
      height: 64px;
    }

    &.active {
      &::after {
        display: none;
      }
    }
  }

  &__images {
    background: #ffffff;
    //padding: 36px 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-height: 300px;

    img {
      width: 100%;
      object-fit: cover;
    }

    figure {
      width: 100%;
    }

    //@media screen and (min-width: 600px) {
    //  padding: 84px 16px;

    //}

    @media screen and (min-width: 1024px) {
      min-width: 413px;
      //padding: 0;
      margin-left: 51px;
    }

    @media screen and (min-width: 1366px) {
      min-width: 556px;

      .pc {
        display: none;
      }
    }
  }

  &__text {
    margin-bottom: 25px;
    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #150f0f;
    position: relative;

    .description--light {
      background: #ededed;
    }

    .sub-catalog {
      &__item {
      }
    }

    @media screen and (min-width: 600px) {
      margin-bottom: 65px;
    }
  }
}

/*swiper-product*/
//! swiper-product
.swiper-product {
  display: none;

  span {
    width: 100%;
    display: flex;
    align-items: flex-start;
    svg {
      width: 28px;
      height: 24px;
    }
  }

  &__slide {
    span {
      width: 100%;
      display: flex;
      align-items: flex-start;

      picture {
        width: 100%;
        height: 100%;
        padding: 16px;
      }

      img {
        height: 100%;
        width: 100%;

        @media screen and (min-width: 1600px) {
          height: 350px;
        }
      }
    }
    top: 50%;
    height: 440px;
    background: #fff;
  }

  &__prev {
    transform: rotate(-180deg);
    right: 70px;
    bottom: 30px;
    top: auto;
    left: auto;
    &::after {
      display: none;
    }
  }

  &__next {
    top: auto;
    right: 30px;
    bottom: 30px;
    &::after {
      display: none;
    }
  }

  @media screen and (min-width: 1366px) {
    display: block;
  }
}

.fancybox-button {
  background: transparent;
}
