.sub-catalog{
  max-height: 0;
  overflow: hidden;
  transition: 800ms; 
}

.catalog-item{
  position: relative;
  // margin-top: 24px;
}

.cat-header{
  position: absolute;
  bottom: -24px;
  left: 0;

  @media screen and (min-width: 1600px) {
    bottom: -35px;
  }
}

.catalog-issue{
  .page__row{

      margin-bottom: 16px;

      @media screen and (min-width: 600px) {
          margin-bottom: 24px;
      }

      @media screen and (min-width: 1024px) {
          margin-bottom: 32px;
      }
  }

  .description__more-button{
      margin-top: 0;
  }

  .description__container{
      padding: 40px 0;
  }

  .description {

      &__content {
  
          p{

              @media screen and (min-width: 1366px) {
                  margin-top: 15px;  
                  font-size: 20px;
                  line-height: 32px; 
              }

                 
              @media screen and (min-width: 1600px) {
                  font-size: 24px;
                  line-height: 40px;
              }

              span{

                  color: #150F0F;
                  display: block;
                 

                  @media screen and (min-width: 1366px) {
                      margin-top: 30px;
                      color: #F5F5F5;
                      color: transparent;
                      background: rgb(218,218,218);
                      background: linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(189,188,188,1) 35%, rgba(147,145,145,1) 100%);
                      background-clip: border-box;
                      background-clip: border-box;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                  }

               
              }
          }
      }


      &__container-table{
          width: 100%;
          overflow: scroll;
      }
  }

  
  .text-dropdown{
      font-size: 18px;
      line-height: 28px;
      padding: 16px;

      .description__container{
          padding: 0 16px;
      }

      .sub-categories-head__description{
          margin: 0;

      }

      @media screen and (min-width: 660px) {
          font-size: 18px;
          line-height: 22px;
          width: 1110px;
      }

      @media screen and (min-width: 1024px) {
          padding: 40px 0;
      }

      font-size: 24px;
      line-height: 40px;
  }

}

.properties-table{
  background: #F5F5F5;
  padding: 16px;
  width: 980px;
  color: #50575A;

  @media screen and (min-width: 660px) {
      font-size: 18px;
      line-height: 22px;
      width: 1110px;
  }

  @media screen and (min-width: 1366px) {
      width: 100%;
      font-size: 20px;
      line-height: 24px;
  }

  @media screen and (min-width: 1600px) {
      font-size: 24px;
      line-height: 28px;
  }


 &__head{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;

  th{
      display: inline-block;
      margin-left: 16px;
      width: 67px;

      &:first-child{
          width: 138px;
          margin-left: 0;
                  
          @media screen and (min-width: 1366px) {
              width: 215px;
              margin-right: 20px;

          }

          @media screen and (min-width: 1600px) {
              width: 280px;
          }
      }

      @media screen and (min-width: 660px) {
          width: 70px;
      }

      @media screen and (min-width: 1366px) {
        width:90px;
      }

      @media screen and (min-width: 1600px) {
          width:107px;
      }

  
  }

 }

 tr{
  width: 100%;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid rgba(79, 86, 89, 0.1);
 }

  td{
      display: inline-block;
      width: 67px;
      margin-left: 16px;
      font-weight: 300;

      @media screen and (min-width: 660px) {
          width: 70px;
      }

      @media screen and (min-width: 1366px) {
          width: 90px;
      }

      @media screen and (min-width: 1600px) {
          width:107px;
      }

      &:first-child{
          display: inline-block;
          font-weight: 600;
          width: 138px;
          padding-left: 0;
          text-align: left;
          margin-left: 0;

          @media screen and (min-width: 1366px) {
              width: 215px;
              margin-right: 20px;
          }

          @media screen and (min-width: 1600px) {
              width: 280px;
          }
      }

  }
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='color'],
input[type='email'],
input[type='password'] {
  width: 100px;
  height: 20px;
  font: 400 16px sans-serif;
  padding: 0px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
  &::placeholder {
    color: #150F0F;
    opacity: 0.5;
  }
  &::-moz-placeholder {
    color: #150F0F;
    opacity: 0.5;
  }
}


.filter{
  background: #F5F5F5;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    height: auto;
  }

  @media screen and (min-width: 1366px) {
      margin-bottom: 32px;

      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
  }

  @media screen and (min-width: 1600px) {
    font-size: 20px;
    line-height: 24px;
  }

  .bb{
      border-bottom: 2px solid rgba(79, 86, 89, 0.1);
      padding-bottom: 24px;
  }

  .radio {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 16px;
      visibility: visible;
      opacity: 1;

      input {
          display: none;
      }

      span {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 24px;
          height: 24px;
          background: #FFFFFF;
          cursor: pointer;
          box-sizing: border-box;
          margin-right: 8px;
          position: relative;
          transition: 300ms;

          svg{
              display: flex;
              align-items: flex-start;
              opacity: 0;
              visibility: hidden;
              width: 16px;
              height: 11px;
          }
      }

      input:checked + span svg {
          opacity: 1;
          visibility: visible;
      }

  }

  
  .catalog-categories{
      display: flex;
      flex-direction: column;
      transition: 900ms;
      opacity: 1;
      visibility: visible;
      height: auto;
      height: 100%;

      &.categories{
          height: 0;
          visibility: hidden;
          opacity: 0;
      }
  }

  .input{
      border: none;
      width: 100%;

      @media screen and (min-width: 1366px) {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
      }
      @media screen and (min-width: 1600px) {
        font-size: 20px;
        line-height: 24px;
      }
  }

  &__head{
      &.bb{
          padding-bottom: 48px;

          @media screen and (min-width: 1600px) {
            padding-bottom: 60px;
          }
      }
  }

  &__inner{
    padding: 16px;
    flex-grow: 10;
    
    @media screen and (min-width: 1024px) {
      padding: 32px;
    }
  }

  &__head-title{
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;

      span{
          margin-left: 8px;

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background: rgba(79, 86, 89, 0.1);

          svg{
              width: 9px;
              height: 20px;
          }
      }
  }

  &__close{
      &-text{
        font-family: 'TT Bluescreens';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
  }

  &__category{
      display: flex;
      flex-direction: column;
  }

  &__show-more{
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      cursor: pointer;
      color: #DD2B1C;
      border: none;
      background: transparent;

      b{
          border-bottom: 2px dashed rgba(79, 86, 89, 0.4);
          padding-bottom: 8px;
      }

      span{
          padding-bottom: 8px;
          margin-left: 8px;

          display: flex;
          align-items: center;
          justify-content: center;

          svg{
              width: 12px;
              height: 12px;
          }
      }

      @media screen and (min-width: 1600px) {
        font-size: 20px;
        line-height: 24px;
      }
  }

  &__additional-button{
      padding-top: 24px;
      .radio{
          margin: 0;
      }
  }

  &__input{

      &-title{
          margin-bottom: 12px;
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.03em;
          color: #150F0F;

          @media screen and (min-width: 1600px) {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.03em;
          }
      }

      &-body{
          padding-top: 24px;

      }

      &-items{
          display: flex;
          align-items: center;
      }

      &-item{

          &:first-child{
              margin-right: 40px;
              position: relative;

              &::before{
                  position: absolute;
                  display: block;
                  content: '';
                  width: 16px;
                  height: 2px;
                  background: #150F0F;
                  right: -28px;
                  top: 50%;
                  transform: translateY(-50%);
              }
          }

          label{
              display: flex;
              align-items: center;
              background: #FFFFFF;
              height: 36px;
              padding: 0 8px;


          }

          span{
              margin-right: 4px;
          }
      }
  }

  &__button{
      font-family: 'TT Bluescreens';
      cursor: pointer;
      padding: 0px 32px;

      &-text{
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 28px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          
      }

      &-inner{
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 100%;
          padding: 28px 0;

          &::before{
              position: absolute;
              display: block;
              content: '';
              width:100%;
              height: 4px;
              background: #DCDDDE;
              right: 0px;
              bottom: 0;
          } 
      }

      &-img{
          display: flex;
          align-items: flex-start;
          svg{
              width: 20px;
              height: 24px;
          }
      }

      &.reset{
          background: #FFFFFF;

          .filter__button-text{
              color: rgba(79, 86, 89, 0.4);
          }
      }

      &.apply{
          background: #DD2B1C;
          padding: 0;
          display: flex;
          align-items: center;
          .filter__button-text{
              color: #FFFFFF;
              font-family: 'TT Bluescreens';
              font-style: normal;
              font-weight: 700;
              font-size: 28px;
              line-height: 28px;
              flex-grow: 10;
          }

          .filter__button-img{
              padding: 20px 16px;
              background: rgba(21, 15, 15, 0.9);
              margin-right: 16px;

              svg{
                  fill:#555151;

                  position: relative;
                  &::before{
                      position: absolute;
                      display: block;
                      content: '';
                      width:100%;
                      height: 4px;
                      background: #555151;
                      right: 0px;
                      bottom: 0;
                  } 
              }
          }

          .filter__button-arrow{
              margin-right: 16px;
              svg{
                  width: 16px;
                  height: 16px;

                  fill:#EB8077;
              }

          }
      }
  }

}

.menu-mobile{
  
  .pc{
    display: none;
  }

  .mobi{
    display: flex;
  }

  @media screen and (min-width: 1024px) {
    .pc{
      display: flex;
    }
  
    .mobi{
      display: none;
    }

    margin-bottom: 32px;
  }

  @media screen and (min-width: 1366px) {
    display: none;
  }

  margin-bottom: 8px;

  &__inner{
      display: flex;
      align-items: center;
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    background: #F5F5F5;
    flex-grow: 10;

    position: relative;
    &:before{
      content: '' ; 
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      z-index: 4;
      left: 0px;
      top: 0px;
    }


    &:first-child{
      margin-right: 4px;

      @media screen and (min-width: 1024px) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 1024px) {
      justify-content: space-between;
      width: 33%;
      padding: 24px 32px;
      margin-left: 2px;

      &:first-child{
        margin-left: 0;
      }
    }
  }

  &__text{
      font-family: 'TT Bluescreens';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #150F0F;

      @media screen and (min-width: 1024px) {
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: #150F0F;
        text-transform: none;
      }
  }

  span{
    display: flex;
    align-items: flex-start;
    margin-right: 8px;

    svg{
      width: 18px;
      height: 21px;
      fill: #DD2B1C;

      @media screen and (min-width: 1024px) {
        fill: rgba(79, 86, 89, 0.4);
      }
    }
  }

}

.filter-mobile{
  width: 100%;
  height: 100%;
  margin-top: 84px;
  @media screen and (min-width: 600px) {
    max-width: 300px;
    margin: 116px 16px 32px;
  }
}

.body__popup {
  display: none;
  position: fixed;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.33);
  z-index: 100;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;

  &--active{
      display: block;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-window {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
  margin-top: 85px;
  // margin: 10% auto;
  // padding: 20px;
}

.modal-window.small {
  width: 100%;
  max-width: 300px;
}

.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.3);
  color: red;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.modal-window {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
}


.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 16px;
  color: #110101;
  height: 24px;
  width: 24px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000000;
  cursor: pointer;
}

.open {
  display: block;
}

.parts-list {
  background: #F5F5F5;
  max-width: 300px;
  height: 100%;
  width: 100%;
  margin-top: 84px;

  @media screen and (min-width: 600px) {
    margin-top: 88px;
    margin: 116px 16px 32px;
  }

  &__inner {

    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  &__title {
    padding: 24px 32px;
  }

  &__subtitle {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 12px 32px;
  }

  &__items {
  }

  &__item {
    padding: 12px 32px 12px 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;

    position: relative;
    &:before{
      content: '' ; 
      display: inline-block;
      width: 4px;
      height: 18px;
      position: absolute;
      transition: 300ms;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
    }

    &:hover{
      &:before{
        background: #DD2B1C;
      }
    }

    &.active{
      position: relative;
      &:before{
        content: '' ; 
        display: inline-block;
        width: 4px;
        height: 18px;
        position: absolute;
        transition: 300ms;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: #DD2B1C;

      }
    }
  }
}
