/*catalog-kit*/
//! catalog-kit
.catalog-kit{
  .about-product{
    &__description{
      font-size: 32px;
      line-height: 32px;
      padding: 0 16px;
      .pc{
        display: none;
        @media screen and (min-width: 1024px) {
          display: block;
        }
      }

      .mobi{
        @media screen and (min-width: 1024px) {
          display: none;
        }
      }

      span{

        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #50575A;
        text-transform: none;
      }

      @media screen and (min-width: 600px) {
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 0;
        padding: 0 ;

        span{
          display: block;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
        }
      }

      @media screen and (min-width: 1366px) {
        font-size: 80px;
        line-height: 80px;
      }

      @media screen and (min-width: 1600px) {
        font-weight: 700;
        font-size: 104px;
        line-height: 104px;
        letter-spacing: 0.04em;

        span{
          font-size: 24px;
          line-height: 28px;
          margin-top: 16px;
        }
      }
    }
  }

  .site-navigation{
    margin: 0;
    &__inner{
      @media screen and (min-width: 1024px) {
        padding: 0;
      }
    }
    @media screen and (min-width: 1920px) {
      margin: 40px 0 16px;
    }
  }

  .main{
    &__layout{
      margin-bottom: 40px;

      @media screen and (min-width: 600px) {
        margin-bottom: 80px;
      }

      @media screen and (min-width: 1024px) {
        margin-bottom: 128px;
      }

      @media screen and (min-width: 1600px) {
        margin-bottom: 160px;
      }
    }

    &__tabs{
      margin-bottom: 40px;

      @media screen and (min-width: 600px) {
        margin-bottom: 80px;
      }

      @media screen and (min-width: 1024px) {
        margin-bottom: 128px;
      }

      @media screen and (min-width: 1600px) {
        margin-bottom: 160px;
      }
    }
  }

  .page{
    &__col{

      @media screen and (min-width: 1024px) {
        &:nth-child(n + 6){
          display: none;
        }
      }

      @media screen and (min-width: 1600px) {
        &:nth-child(n + 5){
          display: none;
        }
      }
    
    }
  }
}