// categories-head.scss

// Categories Head

.categories-head {

    &__title {
        padding-top: 16px;
        padding-bottom: 24px;
        letter-spacing: 0.03em;
    
        @media screen and (min-width: 600px) {
            padding-top: 24px;
            padding-bottom: 24px;        
        }
    
        @media screen and (min-width: 1024px) {
            padding-top: 40px;
            padding-bottom: 48px;
        }

        @media screen and (min-width: 1366px) {
            letter-spacing: 0.02em;
        }
    }
}