// category.scss

// Category

.category {
    position: relative;
    overflow: hidden;
    padding: 16px 0;

    @media screen and (min-width: 1024px) {
        padding: 32px 0 24px;
    }

    @media screen and (min-width: 1600px) {
        padding: 48px 0 32px;
    }

    &__name {
        padding: 0 16px;
        letter-spacing: 0.05em;

        @media screen and (min-width: 1024px) {
            padding: 0 32px;
            transition: color cubic-bezier(.5, 0, 0, 1) .4s;
        }

        @media screen and (min-width: 1600px) {
            padding: 0 48px;
        }

        .category:hover & {
            
            @media screen and (min-width: 1024px) {
                color: #DD2B1C;
            }
        }
    }

    &__picture {
        margin-top: auto;

        @media screen and (min-width: 1024px) {
            transition: transform cubic-bezier(.5, 0, 0, 1) .8s;
        }

        .category:hover & {

            @media screen and (min-width: 1024px) {
                transform: scale(1.1);
            }
        }
    }
}