//! Container
/*Container*/

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;


    @media screen and (min-width: 1024px) {
        max-width: 960px;
        padding: 0;
    }

    @media screen and (min-width: 1366px) {
        max-width: 1300px;
    }

    @media screen and (min-width: 1600px) {
        max-width: 1536px;
    }

    @media screen and (min-width: 1920px) {
        max-width: 1824px;
    }

    @media screen and (min-width: 2560px) {
        max-width: 1824px;
    }
  }

