// content.scss

// Content

.content {

    &__information {
        margin-bottom: 16px;

        @media screen and (min-width: 600px) {
            margin-bottom: 24px;
        }        

        @media screen and (min-width: 1024px) {
            margin-bottom: 32px;
        }
    }
}