// description.scss

// Description

.description {

    &--dark {
        background: rgba(36,26,26,.9);
    }

    &--light {
        background: #f5f5f5;
    }

    &__content {
      position: relative;
        letter-spacing: 0.03em;
        font-family: 'PF Din Text Cond Pro', serif;
        font-weight: 300;
        line-height: 28px;
        font-size: 18px;

        @media screen and (min-width: 1024px) {
            line-height: 32px;
            font-size: 20px;
        }

        @media screen and (min-width: 1366px) {
            line-height: 36px;
            font-size: 24px;
        }

        @media screen and (min-width: 1600px) {
            line-height: 46px;
            font-size: 32px;
        }

        p:not(:first-child) {
            margin-top: 28px;

            @media screen and (min-width: 1024px) {
                margin-top: 32px;
            }
    
            @media screen and (min-width: 1366px) {
                margin-top: 36px;
            }
    
            @media screen and (min-width: 1600px) {
                margin-top: 46px;
            }
        }
    }

    &__container {
        padding: 16px;

        @media screen and (min-width: 1024px) {
            max-width: 464px;
            margin: 0 auto;
            padding: 32px 0;
        }

        @media screen and (min-width: 1366px) {
            max-width: 634px;
        }

        @media screen and (min-width: 1600px) {
            max-width: 736px;
            padding: 40px 0;
        }

        @media screen and (min-width: 1920px) {
            max-width: 896px;
        }
    }

    &__more-button {
        margin-top: 16px;

        @media screen and (min-width: 1024px) {
            margin-top: 32px;
        }

        @media screen and (min-width: 1600px) {
            margin-top: 40px;
        }
    }
}