// file.scss

// File

.file {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 16px 56px 16px 16px;

    @media screen and (min-width: 600px) {
        width: 100%;
        padding: 16px 48px 16px 16px;
    }

    @media screen and (min-width: 1366px) {
      display: flex;
      padding: 32px;
      margin-top: 32px;
    }

    &::after {

        @media screen and (min-width: 1024px) {
            content: ' ';
            position: absolute;
            left: -100%;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: #DD2B1C;
            transition: all 0.8s;
            transition-timing-function: cubic-bezier(.5, 0, 0, 1);
        }
    }

    &:hover::after {
        left: 0;
    }

    &__picture {
        flex: 0 0 auto;
        width: 84px;
        height: 112px;
        margin-right: 16px; 

        @media screen and (min-width: 600px) {
            width: 78px;
            height: 104px;
        }

        @media screen and (min-width: 1024px) {
            width: 76px;
            height: 100px;
        }

        @media screen and (min-width: 1366px) {
            width: 88px;
            height: 116px;
        }

        @media screen and (min-width: 1600px) {
            width: 112px;
            height: 148px; 
        }
    }

    &__box {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            max-width: 72px;
        }
    }

    &__desc {
        margin-bottom: 16px;
    }

    &__name {
        margin-top: auto;
    }

    &__icon {
        position: absolute;
        bottom: 16px;
        right: 16px;
        display: block;
        width: 16px;
        height: 16px;
        fill: #DD2B1C;
        stroke: transparent;

        @media screen and (min-width: 1024px) {
            opacity: 0;
            transition: opacity .8s;
            transition-timing-function: cubic-bezier(.5, 0, 0, 1);
        }

        .file:hover & {

            @media screen and (min-width: 1024px) {
                opacity: 1;
            }
        }
    }
}