
// footer.scss

// Footer

.footer {
    padding: 16px 0;

    @media screen and (min-width: 1024px) {
        padding: 24px 0;
    }

    &__box {
        letter-spacing: 0.05em;

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__info {
        margin-bottom: 12px;

        @media screen and (min-width: 1024px) {
            flex: 0 0 auto;
            margin-bottom: 0;
        }
    }

    &__list {

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 8px;

            @media screen and (min-width: 1024px) {
                flex: 0 0 auto;
                margin: 0 16px 0 0;
            }

            &::after {

                @media screen and (min-width: 1024px) {
                    content: ' ';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background: #50575A;
                    border-radius: 50%;
                    margin-left: 16px;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            flex: 0 0 auto;
            display: flex;       
            align-items: center;     
        }
    }

    &__sub-list {
        display: flex;       
    }

    &__sub-item {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 12px;

            @media screen and (min-width: 1024px) {
                margin-right: 16px;
            }

            &::after {
                content: ' ';
                flex: 0 0 auto;
                display: inline-block;
                width: 4px;
                height: 4px;
                margin-left: 12px;
                border-radius: 50%;
                background: #50575A;

                @media screen and (min-width: 1024px) {
                    margin-left: 16px;
                }
            }
        }
    }

    &__dev {
        
        @media screen and (min-width: 1024px) {
            flex: 0 0 auto;
        }
    }
}