// header.scss

// Header

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 84px;
    background: #DD2B1C;
    text-align: center;
    color: #FFF;

    @media screen and (min-width: 600px) {
        height: 88px;
    }

    @media screen and (min-width: 1024px) {
        height: 100px;
    }

    @media screen and (min-width: 1366px) {
        height: 124px;
    }

    @media screen and (min-width: 1600px) {
        height: 140px;
    }
}