
// help.scss

// Help

.help {
    display: block;

    @media screen and (min-width: 1024px) {
        padding: 0 32px;
    }

    @media screen and (min-width: 1600px) {
        padding: 0 48px;
    }

    &__box {
        position: relative;
        overflow: hidden;
        padding: 16px 48px 16px 16px;

        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
            padding: 44px 0 56px;
        }

        @media screen and (min-width: 1366px) {
            padding: 84px 0;
        }

        &::after,
        &::before {
            content: ' ';
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: rgba(221, 43, 28, 1);
        }

        &::before {
            left: 0;

            @media screen and (min-width: 1024px) {
                background: rgba(79, 86, 89, 0.2);
            }
        }

        &::after {

            @media screen and (min-width: 1024px) {
                left: -100%;
                transition: all cubic-bezier(.5, 0, 0, 1) .8s;
            }

            .help:hover & {

                @media screen and (min-width: 1024px) {
                    left: 0;
                }
            }
        }

    }

    &__name {
        margin-bottom: 8px;
        letter-spacing: 0.03em;
        line-height: 56px;

        @media screen and (min-width: 600px) {
            line-height: 72px;
        }

        @media screen and (min-width: 1024px) {
            flex: 0 0 auto;
            margin: 0 40px 0 0;
            letter-spacing: 0.01em;
            line-height: 1;
        }

        @media screen and (min-width: 1366px) {
            line-height: 136px;
        }
        
        @media screen and (min-width: 1600px) {
            margin-right: 56px;
        }
    }

    &__word {
        display: block;

        @media screen and (min-width: 1024px) {
            display: inline;
        }
    }

    &__sub-box {
        display: flex;
        align-items: flex-end;
    }

    &__desc {
        letter-spacing: 0.05em;

        @media screen and (min-width: 1024px) {
            margin-right: 102px;
            letter-spacing: 0.03em;
        }

        @media screen and (min-width: 1366px) {
            margin-right: 69px;
        }

        @media screen and (min-width: 1920px) {
            margin-right: 360px;
        }
    }

    &__icon {
        position: absolute;
        right: 16px;
        bottom: 20px;
        display: block;
        width: 16px;
        height: 16px;
        fill: rgba(221, 43, 28, 1);
        stroke: transparent;

        @media screen and (min-width: 1024px) {
            flex: 0 0 auto;
            position: static;
            width: 24px;
            height: 24px;
            fill: rgba(79, 86, 89, 0.2);
            transition: fill cubic-bezier(.5, 0, 0, 1) .8s;
        }

        .help:hover & {

            @media screen and (min-width: 1024px) {
                fill: rgba(221, 43, 28, 1);
            }
        }
    }
}








