// information.scss

// Information

.information {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: left;

    @media screen and (min-width: 1024px) {
        padding: 32px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__text {
        flex: 1 1 auto;
        margin-right: 12px;

        max-width: 150px;

        @media screen and (min-width: 600px) {
          max-width: 100%;
        }
    }

    &__shape {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 12px;

        @media screen and (min-width: 1024px) {
            margin-right: 8px;        
        }

        @media screen and (min-width: 1366px) {
            margin-right: 16px;        
        }
    }

    &__icon {
        flex: 0 0 auto;
        display: block;
        stroke: transparent;

        &--info {
            width: 4px;
            height: 18px;

            &.information__icon--regular {
                fill: rgba(255, 255, 255, .6);
            }

            &.information__icon--special {
                fill: #FFF;
            }
        }

        &--follow {
            width: 16px;
            height: 16px;
            margin-left: auto;

            @media screen and (min-width: 1366px) {
                width: 24px;
                height: 24px;
            }

            &.information__icon--regular {
                fill: rgba(255, 255, 255, 0.2);
            }

            &.information__icon--special {
                fill: rgba(79, 86, 89, 0.2);
            }

            &.information__icon--regular,
            &.information__icon--special {

                @media screen and (min-width: 1024px) {
                    fill: #DD2B1C;
                    opacity: 0;
                    transition: opacity cubic-bezier(.5, 0, 0, 1) .8s;
                }
            }

            .information:hover & {

                @media screen and (min-width: 1024px) {
                    opacity: 1;
                }
            }

        }
    }

    &__name {
        margin-bottom: 2px;

        @media screen and (min-width: 600px) {
            margin: 0;
        }
    }

    &__name,
    &__desc {

        @media screen and (min-width: 600px) {
            display: inline;
        }
    }

    &::after {

        @media screen and (min-width: 1024px) {
            content: ' ';
            position: absolute;
            left: -100%;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: #DD2B1C;
            transition: all cubic-bezier(.5, 0, 0, 1) 0.8s;
        }
    }

    &:hover::after {

        @media screen and (min-width: 1024px) {
            left: 0;
        }
    }
}