
// label.scss

// Label

.label {
    display: block;

    &--document {
        padding: 16px;

        @media screen and (min-width: 1024px) {
            padding: 32px;
        }

        @media screen and (min-width: 1366px) {
            padding: 30px;
        }
        
        @media screen and (min-width: 1600px) {
            padding: 42px;
        }
    }

    &--certificate {
        padding: 16px;

        @media screen and (min-width: 1024px) {
            padding: 32px;
        }

        @media screen and (min-width: 1366px) {
            padding: 28px;
        }

        @media screen and (min-width: 1600px) {
            padding: 40px;
        }
    }

    &--article {
        padding: 20px 16px;

        @media screen and (min-width: 600px) {
            padding: 24px 16px;
        }

        @media screen and (min-width: 1024px) {
            padding: 34px;
        }

        @media screen and (min-width: 1366px) {
            padding: 32px;
        }

        @media screen and (min-width: 1600px) {
            padding: 40px;
        }
    }

    &--properties {
        padding: 4px 16px;

        @media screen and (min-width: 1024px) {
            padding: 12px 0;
        }

        @media screen and (min-width: 1366px) {
            padding: 12px 0;
        }

        @media screen and (min-width: 1600px) {
            padding: 16px 0;
        }
    }

    &--dark {
        background: #241A1A;

        @media screen and (min-width: 1024px) {
            transition: background-color .8s;
        }

        &:hover {

            @media screen and (min-width: 1024px) {
                background: #110101;
            }
        }
    }

    &--light {
        background: #f5f5f5;

        @media screen and (min-width: 1024px) {
            transition: background-color .8s;
        }

        &:hover {

            @media screen and (min-width: 1024px) {
                background: #FFF;
            }
        }
    }

    &__container {

        @media screen and (min-width: 1024px) {
            max-width: 464px;
            margin: 0 auto;
        }

        @media screen and (min-width: 1366px) {
            max-width: 634px;
        }

        @media screen and (min-width: 1600px) {
            max-width: 736px;
        }

        @media screen and (min-width: 1920px) {
            max-width: 896px;
        }
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__info {
        flex: 1 1 auto;
        margin-right: 16px;
    }

    &__icon {
        flex: 0 0 auto;
        display: block;
        width: 16px;
        height: 16px;
        margin-left: auto;
        stroke: transparent;
        fill: rgba(79, 86, 89, 0.4);

        @media screen and (min-width: 1024px) {
            width: 24px;
            height: 24px;
            fill: #DD2B1C;
            opacity: 0;
            transition: opacity .8s;
        }

        .label:hover & {

            @media screen and (min-width: 1024px) {
                opacity: 1;
            }
        }
    }

    &__picture {
        flex: 0 0 auto;
        width: 45px;
        height: 64px;
        margin-right: 16px;   
     
        @media screen and (min-width: 1024px) {
            width: 64px;
            height: 90px;
            margin-right: 12px;
        }

        @media screen and (min-width: 1366px) {
            width: 45px;
            height: 64px;
            margin-right: 32px;
        }

        @media screen and (min-width: 1600px) {
            width: 64px;
            height: 90px;
            margin-right: 12px;
        }
    }

    &__name {
        flex: 1 1 auto;
    }

    &__desc {
        margin-top: 8px;
        letter-spacing: .03em;
    }

    &__row {

        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
    }

    &__cell {

        @media screen and (min-width: 1024px) {
            flex: 0 0 auto;
            width: 50%;
            padding-right: 16px;
        }
    }
    
    &__value {

        @media screen and (min-width: 1024px) {
            font-weight: 500;
        }
    }
}