// more-link.scss

// More Link

.more-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 0 0 8px;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    letter-spacing: .05em;

    @media screen and (min-width: 1024px) {
        letter-spacing: .03em;
    }

    &::before,
    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
    }

    &--dark::before {
        background: rgba(79, 86, 89, .2);
    }

    &--light::before {
        background: rgba(255, 255, 255, .2);
    }

    &::after {

        @media screen and (min-width: 1024px) {
            background: rgba(221, 43, 28, 1);
            left: -100%;
            transition: all cubic-bezier(.5, 0, 0, 1) .8s;
        }
    }

    &:hover::after {

        @media screen and (min-width: 1024px) {
            left: 0;
        }
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__text {
        margin-right: 8px;
    }

    &__icon {
        display: block;
        width: 12px;
        height: 12px;

        .more-link--dark & {
            fill: rgba(79, 86, 89, .2);
        }

        .more-link--light & {
            fill: rgba(255, 255, 255, .2);
        }

        @media screen and (min-width: 1024px) {
            transition: fill cubic-bezier(.5, 0, 0, 1) .8s;
        }

        .more-link:hover & {

            @media screen and (min-width: 1024px) {
                fill: rgba(221, 43, 28, 1);
            }
        }

        @media screen and (min-width: 1024px) {
            width: 16px;
            height: 16px;
        }
    }
}