// page.scss

// Page

.page {
  &--dark {
    background: #110101;
  }

  &--light {
    background: #ededed;
  }

  &__paralax {
    position: fixed;
    right: 16px;
    top: 0;
    width: 150px;
    height: 200%;
    background: center / 100% auto repeat-y;
    z-index: -1;
    transition: all ease-out 0.8s;

    @media screen and (min-width: 600px) {
      width: 238px;
    }

    @media screen and (min-width: 1024px) {
      right: 32px;
      width: 242px;
    }

    @media screen and (min-width: 1366px) {
      width: 300px;
    }

    @media screen and (min-width: 1600px) {
      right: 48px;
      width: 358px;
    }

    @media screen and (min-width: 1920px) {
      right: 50%;
      margin-right: -912px;
      width: 358px;
    }
  }

  &__main {
    flex: 1 0 auto;
  }

  &__container,
  &__box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    max-width: 1920px;
  }

  &__box {
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 1024px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media screen and (min-width: 1600px) {
      padding-left: 48px;
      padding-right: 48px;
    }

    &--offset {
      @media screen and (min-width: 1024px) {
        padding-left: 197px;
      }

      @media screen and (min-width: 1366px) {
        padding-left: 254px;
      }

      @media screen and (min-width: 1600px) {
        padding-left: 304px;
      }

      @media screen and (min-width: 1920px) {
        padding-left: 357px;
      }
    }

    &--container {
      @media screen and (min-width: 1024px) {
        max-width: 858px;
      }

      @media screen and (min-width: 1366px) {
        max-width: 1144px;
      }

      @media screen and (min-width: 1600px) {
        max-width: 1344px;
      }

      @media screen and (min-width: 1920px) {
        max-width: 1610px;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;

    @media screen and (min-width: 1024px) {
      margin-left: -16px;
      margin-right: -16px;
    }

    &--ms-1 > * {
      width: 100%;
    }

    &--ms-2 > * {
      width: 50%;
    }

    &--ms-3 > * {
      width: 33.3333333333%;
    }

    &--ms-4 > * {
      width: 25%;
    }

    &--ts-1 > * {
      @media screen and (min-width: 600px) {
        width: 100%;
      }
    }

    &--ts-2 > * {
      @media screen and (min-width: 600px) {
        width: 50%;
      }
    }

    &--ts-3 > * {
      @media screen and (min-width: 600px) {
        width: 33.3333333333%;
      }
    }

    &--ts-4 > * {
      @media screen and (min-width: 600px) {
        width: 25%;
      }
    }

    &--tm-1 > * {
      @media screen and (min-width: 800px) {
        width: 100%;
      }
    }

    &--tm-2 > * {
      @media screen and (min-width: 800px) {
        width: 50%;
      }
    }

    &--tm-3 > * {
      @media screen and (min-width: 800px) {
        width: 33.3333333333%;
      }
    }

    &--tm-4 > * {
      @media screen and (min-width: 800px) {
        width: 25%;
      }
    }

    &--ds-1 > * {
      @media screen and (min-width: 1024px) {
        width: 100%;
      }
    }

    &--ds-2 > * {
      @media screen and (min-width: 1024px) {
        width: 50%;
      }
    }

    &--ds-3 > * {
      @media screen and (min-width: 1024px) {
        width: 33.3333333333%;
      }
    }

    &--ds-4 > * {
      @media screen and (min-width: 1024px) {
        width: 25%;
      }
    }

    &--dm-1 > * {
      @media screen and (min-width: 1366px) {
        width: 100%;
      }
    }

    &--dm-2 > * {
      @media screen and (min-width: 1366px) {
        width: 50%;
      }
    }

    &--dm-3 > * {
      @media screen and (min-width: 1366px) {
        width: 33.3333333333%;
      }
    }

    &--dm-4 > * {
      @media screen and (min-width: 1366px) {
        width: 25%;
      }
    }

    &--dl-1 > * {
      @media screen and (min-width: 1600px) {
        width: 100%;
      }
    }

    &--dl-2 > * {
      @media screen and (min-width: 1600px) {
        width: 50%;
      }
    }

    &--dl-3 > * {
      @media screen and (min-width: 1600px) {
        width: 33.3333333333%;
      }
    }

    &--dl-4 > * {
      @media screen and (min-width: 1600px) {
        width: 25%;
      }
    }

    &--dxl-1 > * {
      @media screen and (min-width: 1920px) {
        width: 100%;
      }
    }

    &--dxl-2 > * {
      @media screen and (min-width: 1920px) {
        width: 50%;
      }
    }

    &--dxl-3 > * {
      @media screen and (min-width: 1920px) {
        width: 33.3333333333%;
      }
    }

    &--dxl-4 > * {
      @media screen and (min-width: 1920px) {
        width: 25%;
      }
    }
  }

  &__sidebar,
  &__content,
  &__col {
    padding-left: 4px;
    padding-right: 4px;

    @media screen and (min-width: 1024px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__col {
    flex: 0 0 auto;

    &--ms {
      &-12 {
        width: 100%;
      }

      &-6 {
        width: 50%;
      }
    }

    &--ts {
      &-12 {
        @media screen and (min-width: 600px) {
          width: 100%;
        }
      }

      &-6 {
        @media screen and (min-width: 600px) {
          width: 50%;
        }
      }
    }

    &--tm {
      &-12 {
        @media screen and (min-width: 800px) {
          width: 100%;
        }
      }

      &-6 {
        @media screen and (min-width: 800px) {
          width: 50%;
        }
      }
    }

    &--ds {
      &-12 {
        @media screen and (min-width: 1024px) {
          width: 100%;
        }
      }

      &-6 {
        @media screen and (min-width: 1024px) {
          width: 50%;
        }
      }
    }

    &--dm {
      &-12 {
        @media screen and (min-width: 1366px) {
          width: 100%;
        }
      }

      &-6 {
        @media screen and (min-width: 1366px) {
          width: 50%;
        }
      }
    }

    &--dl {
      &-12 {
        @media screen and (min-width: 1600px) {
          width: 100%;
        }
      }

      &-6 {
        @media screen and (min-width: 1600px) {
          width: 50%;
        }
      }
    }

    &--dxl {
      &-12 {
        @media screen and (min-width: 1920px) {
          width: 100%;
        }
      }

      &-6 {
        @media screen and (min-width: 1920px) {
          width: 50%;
        }
      }
    }
  }

  &__sidebar,
  &__content {
    flex: 0 0 auto;
    width: 100%;
  }

  &__sidebar {
    order: 2;
    width: auto;

    @media screen and (min-width: 1366px) {
      display: block;
      order: 1;
      flex: 0 0 auto;
      width: 25%;
    }
  }

  &__content {
    order: 1;
    margin-bottom: 16px;
    min-width: 0;

    @media screen and (min-width: 1024px) {
      order: 2;
      flex: 1 1 0;
      width: auto;
      margin: 0;
    }
  }

  .page-wrap{
    margin-bottom: 24px;

    @media screen and (min-width: 600px) {
      margin-bottom: 38px;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 80px;
    }
  }
}
