// Pagination

.pagination {
    width: 100%;

    .arrow{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      cursor: pointer;
      height: 56px;
      width: 56px;
      background: #F5F5F5;

        .mobi{
            @media screen and (min-width: 1024px) {
                display: none;
            }
        }

        .pc{
            display: none;
            @media screen and (min-width: 1024px) {
                display: block;
            }
        }

        @media screen and (min-width: 1024px) {
            background: #ffffff;
            height: 100%;
            width: auto;
        }

    }

    .arrow-icons{
       
        width: 14px;
        height: 14px;
    }
  
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        color: #150F0F;

        img {
            display: flex;
            align-items: center;
        }

        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.03em;

        @media screen and (min-width: 600px) {
            font-size: 20px;
            line-height: 20px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1366px) {
            font-size: 20px;
            line-height: 24px;
        }

        @media screen and (min-width: 1600px) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__prew {
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            margin-right: 40px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #FFFFFF;

        &.mobi{
            @media screen and (min-width: 1024px) {
                display: none;
            }
        }

        &.pc{
            display: none;
            @media screen and (min-width: 1024px) {
                display: flex;
            }
        }

        @media screen and (min-width: 1024px) {
            width: auto;
        }
      
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        margin: 0 6px;
        padding: 16.5px 0;

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;
        }

        &.active{
            color: #DD2B1C; 
        }

        @media screen and (min-width: 1024px) {
            margin: 0 8px;
            
            &:hover {
                color: #DD2B1C;
            }
            
        }
    }

    &__next {
        cursor: pointer;
        transform: rotate(180deg);

        @media screen and (min-width: 1024px) {
            margin-left: 40px;
        }
    }
    
}
  