/*product-description*/
//! product-description

.product-description{

  &.dark--theme{
    background: #241A1A;
    color: #FFFFFF;

    ul{
      &:nth-child(2){
        li{
          ul{
  
            li{
              border-bottom: 2px solid #504848;
            }
          }
        }
      }
  
    }
  }

  font-family: 'PF Din Text Cond Pro';
  font-style: normal;
  padding: 16px 0;
  max-width: 466px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    padding: 0;
  }

  @media screen and (min-width: 1366px) {
    max-width: 635px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 736px;
  }

  figure{
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    height: 144px;

    img{
      width: 100%;
      object-fit: cover;
    }

    ~span{
      display: inline-block;
      margin-top: 8px;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.05em;
    }

    @media screen and (min-width: 600px) {
      height: 262px;
    }



    @media screen and (min-width: 1366px) {
      height: 357px;

      ~span{
        font-size: 16px;
        line-height: 22px;
      }
    }

    @media screen and (min-width: 1920px) {
      height: 414px;

      ~span{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  h3{
    font-family: 'TT Bluescreens';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 12px;

    ~p{
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 600px) {
      font-size: 36px;
      line-height: 36px;

      ~p{
        font-size: 20px;
        line-height: 32px;
      }
    }

    @media screen and (min-width: 1366px) {
      font-size: 44px;
      line-height: 44px;

      ~p{
        font-size: 24px;
        line-height: 36px;
      }
    }

    @media screen and (min-width: 1920px) {
      font-size: 60px;
      line-height: 60px;

      ~p{
        font-size: 32px;
        line-height: 46px;
      }
    }
  }

  h4{
    font-family: 'TT Bluescreens';
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 12px;

    ~p{
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 600px) {
      font-size: 32px;
      line-height: 32px;
      
      ~p{
        font-size: 16px;
        line-height: 24px;
      }
    }

    @media screen and (min-width: 1366px) {
      font-size: 36px;
      line-height: 36px;

      ~p{
        font-size: 20px;
        line-height: 32px;
      }
    }

    @media screen and (min-width: 1920px) {
      font-size: 44px;
      line-height: 44px;

      ~p{
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  h5{
    font-family: 'TT Bluescreens';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 12px;

    ~p{
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.05em;
    }

    @media screen and (min-width: 600px) {
      font-size: 24px;
      line-height: 24px;
      
      ~p{
        font-size: 14px;
        line-height: 20px;
      }
    }

    @media screen and (min-width: 1366px) {
      font-size: 28px;
      line-height: 28px;

      ~p{
        font-size: 16px;
        line-height: 24px;
      }
    }

    @media screen and (min-width: 1920px) {
      font-size: 36px;
      line-height: 36px;

      ~p{
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  
  >ul{
    &:not(:last-child){
      margin-bottom: 32px;

    }

    &:first-child{
      li{
        margin-bottom: 32px;
      }
    }
  }

  ul{
    &:nth-child(2){
      display: flex;

      li{
        ul{

          li{
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
            padding: 12px 0 12px 16px;
            border-bottom: 2px solid #D4D5D6;

            @media screen and (min-width: 1366px) {
              font-size: 20px;
              line-height: 24px;
            }

            @media screen and (min-width: 1920px) {
              font-size: 24px;
              line-height: 28px;
            }

            b{
              font-weight: 500;
              color: #918C8C;
            }
        
          }
        }
      }
    }

    &:nth-child(3),&:nth-child(4){
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.03em;
      font-weight: 300;

      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 32px;
      }

      @media screen and (min-width: 1366px) {
        font-size: 24px;
        line-height: 36px;
      }

      @media screen and (min-width: 1920px) {
        font-size: 32px;
        line-height: 46px;
      }

      ul, ol{
        li{
          padding-left: 10px;
        }
      }
  

      >li{
        &:not(:first-child){
          padding-left: 16px;
        }
      }

      li{
        margin-bottom: 16px;
        &:last-child{
          padding-bottom: 1px;
        }
      
      }
    }

    &:nth-child(3){
      
      li{
        ul{
          li{
            position: relative;
              &:before{
              content: '' ; 
              display: inline-block;
              width: 8px;
              height: 8px;
              background: #DD2B1C;
              position: absolute;
              left: -19px;
              top: 10px;

              @media screen and (min-width: 600px) {
                top: 11px;
              }

              @media screen and (min-width: 1366px) {
                top: 13px;
              }

              @media screen and (min-width: 1920px) {
                top: 18px;
              }
            }
          }
        }
      }
    }

    &:nth-child(4){

      li{
        ol{
          list-style-type: decimal;
        }
      }
    }
  }
}

.flex-wrapper{
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1366px) {
    flex-direction: column;
  }
}

.visivig{
  .addition {
    &__title-box{
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
      }
  
      @media screen and (min-width: 1366px) {
        display: none;
      }
    }
  }

  .page{
    &__col{
      &:last-child{
        display: none;
        @media screen and (min-width: 1024px) {
          display: block;
          margin-bottom: 0;
        }

        @media screen and (min-width: 1366px) {
          display: none;
        }
      }
    }
  }

  .sidebar{
    @media screen and (min-width: 1024px) {
      width: 165px;
    }

    @media screen and (min-width: 1366px) {
      width: 25%;
    }
  }

  .screen-none{
    @media screen and (min-width: 1024px) {
      display: none;
    }

    @media screen and (min-width: 1366px) {
      display: flex;

      &.text-block{
        display: block;
      }
    }
  }
  .screen1{
    span{
      padding: 0;
      display: none;
      @media screen and (min-width: 1920px) {
        display: block;
      }
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  
    @media screen and (min-width: 1600px) {
      display: block;
    }
  }
  
  .screen2{
    display: none;
  
    @media screen and (min-width: 1024px) {
      display: block;
      font-size: 80px;
      line-height: 80px;
    }
  
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }
  
  .screen3{
    display: none;
  
    @media screen and (min-width: 1366px) {
      display: block;
      max-width: 635px;
    }
  
    @media screen and (min-width: 1600px) {
      display: none;
    }
  }
}


