// route-card.scss

// Route Card

.route-card {

    @media screen and (min-width: 1024px) {
        display: none;
    }

    &__content {
        padding: 16px 16px 20px;
    }

    &__title {
        letter-spacing: .05em;
    }

    &__sub-title {
        margin-top: 16px;
        letter-spacing: .03em;
    }

    &__list {
        margin-top: 8px;
        letter-spacing: .05em;

        @media screen and (min-width: 600px) {
            margin-top: 16px;
        }
    }

    &__item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 8px;

            @media screen and (min-width: 600px) {
                margin-top: 12px;
            }
        }

        &::before {
            content: ' ';
            display: block;
            order: 2;
            height: 2px;
            margin: 4px;
            flex: 1 1 auto;
            background: linear-gradient(90deg, rgba(79, 86, 89, 0.2) 0, rgba(79, 86, 89, 0.2) 50%, transparent 50%, transparent 100%) repeat-x;
            background-size: 4px;
            pointer-events: none;
        }
    }

    &__property {
        order: 1;
    }

    &__value {
        order: 3;
    }
}