// set.scss

// Set

.set {
    position: relative;
    overflow: hidden;
    background: #FFF;
    padding: 16px;

    @media screen and (min-width: 1024px) {
        padding: 32px 32px 24px;
    }

    @media screen and (min-width: 1600px) {
        padding: 32px;
    }

    &__picture {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 32px;
            transition: transform cubic-bezier(.5, 0, 0, 1) .8s;
        }

        .set:hover & {

            @media screen and (min-width: 1024px) {
                transform: scale(1.05);
            }
        }
    }

    &__info {
        padding-right: 24px;

        @media screen and (min-width: 1024px) {
            padding-right: 32px;
        }
    }

    &__name {
        margin-bottom: 4px;
        color: #150F0F;

        @media screen and (min-width: 1024px) {
            margin-bottom: 8px;
        }
    }   


    &__icon {
        position: absolute;
        right: 20px;
        bottom: 16px;
        display: block;
        width: 16px;
        height: 16px; 
        fill: rgba(79, 86, 89, 0.1);
        stroke: transparent;

        @media screen and (min-width: 1024px) {
            right: 32px;
            bottom: 24px;
            width: 24px;
            height: 24px;
            fill: #DD2B1C;
            opacity: 0;
            transition: opacity cubic-bezier(.5, 0, 0, 1) .8s;
        }

        @media screen and (min-width: 1600px) {
            bottom: 32px;
        }

        .set:hover & {
            opacity: 1;
        }
    }

    &::after {

        @media screen and (min-width: 1024px) {
            content: ' ';
            position: absolute;
            left: -100%;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: #DD2B1C;
            transition: all cubic-bezier(.5, 0, 0, 1) 0.8s;
        }
    }

    &:hover::after {

        @media screen and (min-width: 1024px) {
            left: 0;
        }
    }
}