// sidebar.scss

// Sidebar

.sidebar {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 25%;
  }

    &__block {
      width: 100%;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &--ms-hidden {
            display: none;
        }

        &--ds-visible {

            @media screen and (min-width: 1024px) {
                display: block;
            }
        }
    }
}