// tabs.scss

// Tabs

.tabs {

    &__head {
        position: relative;
        overflow: auto;
        margin: 0 -16px 4px;
    }

    &__tabs {
        display: flex;
    }

    &__options {
        flex: 1 0 auto;
        display: flex;
        padding: 0 14px;
    }

    &__option {
        flex: 1 0 auto;
        padding: 0 2px;

        @media screen and (min-width: 1024px) {
            width: 0;
        }
    }

    &__tab {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 26px 32px;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        &--dark {
            background: rgba(36, 26, 26, 1);
        }

        &--light {
            background: rgba(245, 245, 245, 1);
        }

        @media screen and (min-width: 600px) {
            padding: 28px 32px;
        }

        @media screen and (min-width: 1024px) {
            padding: 26px 32px;
        }

        &::after {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: rgba(221, 43, 28, 1);
            opacity: 0;
            pointer-events: none;
            transition: opacity .4s;
        }
    
        &--active::after {
            opacity: 1;
        }

        .tabs__option:only-child & {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 1024px) {
            max-width: 464px;
            margin: 0 auto;
        }

        @media screen and (min-width: 1366px) {
            max-width: 634px;
        }

        @media screen and (min-width: 1600px) {
            max-width: 736px;
        }

        @media screen and (min-width: 1920px) {
            max-width: 896px;
        }

        .tabs__option:only-child & {
            justify-content: flex-start;
        }
    }

    &__icon {
        flex: 0 0 auto;
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        stroke: transparent;
        transition: fill .4s;

        &--dark {
            fill: rgba(79, 86, 89, 0.7);

            .tabs__tab--active & {
                fill: #150F0F;
            }
    
            .tabs__tab:hover & {
    
                @media screen and (min-width: 1024px) {
                    fill: #150F0F;
                }
            }
        }

        &--light {
            fill: rgba(255, 255, 255, 0.6);

            .tabs__tab--active & {
                fill: #FFF;
            }
    
            .tabs__tab:hover & {
    
                @media screen and (min-width: 1024px) {
                    fill: #FFF;
                }
            }
        }

        @media screen and (min-width: 1600px) {
            width: 32px;
            height: 32px;
            margin-right: 12px;
        }
    }

    &__name {
        flex:  0 0 auto;
        white-space: nowrap;
        letter-spacing: 0.06em;
        transition: color .4s;

        &--dark {
            color: rgba(79, 86, 89, 0.7);

            .tabs__tab--active & {
                color: #150F0F;
            }
    
            .tabs__tab:hover & {
    
                @media screen and (min-width: 1024px) {
                    color: #150F0F;
                }
            }
        }

        &--light {
            color: rgba(255, 255, 255, 0.6);

            .tabs__tab--active & {
                color: #FFF;
            }
    
            .tabs__tab:hover & {
    
                @media screen and (min-width: 1024px) {
                    color: #FFF;
                }
            }
        }
        
        @media screen and (min-width: 600px) {
            letter-spacing: 0.05em;
        }

        @media screen and (min-width: 1024px) {
            letter-spacing: 0.06em;
        }
    }

    &__content {
        display: none;
        background: rgba(36, 26, 26, 1);

        &--active {
            display: block;
            animation: tabsContentAnimation .8s;
        }

        @keyframes tabsContentAnimation {
            0%  {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &__item {
        position: relative;

        &--dark,
        &--light {

            &:not(:last-child) {

                &::after {
                    content: ' ';
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;

                    @media screen and (min-width: 1024px) {
                        transition: opacity .8s;
                    }
                }
            }
        }

        &--dark {
    
            &::after {
                background: rgba(79, 86, 89, 0.4);
            }
        }

        &--light {
    
            &::after {
                background: rgba(79, 86, 89, 0.1);
            }
        }

        &:hover {

            &::after {

                @media screen and (min-width: 1024px) {
                   opacity: 0; 
                }
            }
        }
    }

    .tabs-list--wrap{
      padding: 10px 0;
      background: #f5f5f5;
    }
}