// text.scss

// Text

.text {

    &__content {
        position: relative;
        overflow: hidden;
        transition: max-height cubic-bezier(.5, 0, 0, 1) .8s;
    }

    &__more-button {
        display: inline-block;

        &--hidden {
            display: none;
        }
    }
}