// text-content.scss

// Text Content

.text-content {

    &--text-block {

        h3,
        h4,
        h5,
        b {
            color: #DD2B1C;
        }

    }

    h3,
    h4,
    h5 { 
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-family: 'TT Bluescreens';
        font-weight: 700;

        &:not(:first-child) { 
            margin-top: 32px;

            @media screen and (min-width: 1600px) {
                margin-top: 40px;
            }
        }
    }

    h3 {
        font-size: 32px;

        @media screen and (min-width: 1024px) {
            font-size: 36px;
        }

        @media screen and (min-width: 1366px) {
            font-size: 44px;
        }

        @media screen and (min-width: 1600px) {
            font-size: 60px;
        }
    }

    h4 {
        font-size: 28px; 

        @media screen and (min-width: 1024px) {
            font-size: 32px;
        }

        @media screen and (min-width: 1366px) {
            font-size: 36px;
        }

        @media screen and (min-width: 1600px) {
            font-size: 44px;
        }
    }

    h5 {
        font-size: 24px;

        @media screen and (min-width: 1366px) {
            font-size: 28px;
        }

        @media screen and (min-width: 1600px) {
            font-size: 36px;
        }
    }

    p,
    ul,
    ol {
        letter-spacing: 0.03em;
        line-height: 24px;
        font-family: 'PF Din Text Cond Pro', serif;
        font-weight: 300;
        font-size: 16px;
    }

    p {

        &:not(:first-child) { 
            margin-top: 12px;
        }
    }

    ul,
    ol {

        &:not(:first-child) { 
            margin-top: 32px;

            @media screen and (min-width: 1600px) {
                margin-top: 40px;
            }
        }

        li {
            position: relative;
            padding-left: 28px;

            &:not(:first-child) {
                margin-top: 16px;
            }

            &::before {
                content: ' ';
                position: absolute;
                display: block;
            }
        }
    }

    ul {

        li {

            &::before {
                left: 0;
                top: 8px;
                width: 8px;
                height: 8px;
                background: #DD2B1C;
            }
        }
    }

    ol {
        counter-reset: 'list-item';

        li {
            counter-increment: 'list-item';

            &::before {
                content: counters(list-item, ".")" ";
                left: 0;
                top: 0;
            }
        }
    }

    ol ol,
    ul ul {
        margin-top: 16px;
    }
}