// text-block.scss

// Text Block

.text-block {
    background: #F5F5F5;
    padding: 16px;

    @media screen and (min-width: 1024px) {
        padding: 24px;
    }

    @media screen and (min-width: 1366px) {
        padding: 32px;
    }
}