// unit.scss

// Unit

.unit {

    @media screen and (min-width: 1366px) {
        display: flex;
    }

    &--big {

        @media screen and (min-width: 1024px) {
            padding: 24px 32px;
        }

        @media screen and (min-width: 1366px) {
            padding: 32px;
        }

        @media screen and (min-width: 1600px) {
            padding: 32px 40px;
        }
    }

    &--small {

        @media screen and (min-width: 1024px) {
            padding: 12px 32px;
        }

        @media screen and (min-width: 1600px) {
            padding: 16px 40px;
        }
    }

    &__name {

        @media screen and (min-width: 1024px) {
            position: relative;
            letter-spacing: 0.03em;
            transition: color .4s;
        }

        .unit:hover & {

            @media screen and (min-width: 1024px) {
                color: #DD2B1C;
            }
        }

        &::before {

            .unit--active & {

                @media screen and (min-width: 1024px) {
                    content: ' ';
                    position: absolute;
                    left: -32px;
                    top: 0;
                    display: block;
                    width: 4px;
                    height: 100%;
                    background: #DD2B1C;
                }

                @media screen and (min-width: 1600px) {
                    left: -40px;
                }
            }
        }
    }
}