// units.scss

// Units

.units {

    &__item {
      a{
        display: flex;
      }

        &--dark {

            &:not(:last-child) {
                border-bottom: 4px solid rgba(79, 86, 89, 0.4);
            }
        }

        &--light {

            &:not(:last-child) {
                border-bottom: 2px solid rgba(79, 86, 89, 0.1);
            }
        }
    }
}