// visibility-hidden.scss

// Visibility Hidden

.visibility-hidden {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    clip: rect(0 0 0 0);
}