                <!-- FOOTER -->
                <footer class="page__footer footer">
                    <div class="page__container">
                            <div class="page__box">
                                    <div class="footer__box brief brief--light brief--ms-14 brief--dm-16">

                                            <!-- INFO -->
                                            <div class="footer__info">

                                                    <!-- LIST -->
                                                    <ul class="footer__list">

                                                            <!-- ITEM -->
                                                            <li class="footer__item">
                                                                    © АО «Завод Красный Якорь» 2022
                                                            </li>
                                                            <!-- / ITEM -->

                                                            <!-- ITEM -->
                                                            <li class="footer__item">
                                                                    <a class="footer__link" href="#">
                                                                            Политика конфиденциальности
                                                                    </a>
                                                            </li>
                                                            <!-- / ITEM -->

                                                    </ul>
                                                    <!-- / LIST -->

                                                    <!-- LIST -->
                                                    <ul class="footer__list">

                                                            <!-- ITEM -->
                                                            <li class="footer__item">
                                                                    Россия, г. Нижний Новгород, ул. Московское шоссе, д. 120
                                                            </li>
                                                            <!-- / ITEM -->

                                                            <!-- ITEM -->
                                                            <li class="footer__item">

                                                                    <!-- SUB-LIST -->
                                                                    <ul class="footer__sub-list">

                                                                            <!-- SUB ITEM -->
                                                                            <li class="footer__sub-item">
                                                                                    <a class="footer__link" href="mailto:info@redanchor.ru">
                                                                                            info@redanchor.ru
                                                                                    </a>
                                                                            </li>
                                                                            <!-- / SUB-ITEM -->

                                                                            <!-- SUB-ITEM -->
                                                                            <li class="footer__sub-item">
                                                                                    <a class="footer__link" href="tel:+78312115511">
                                                                                            +7 831 211-55-11
                                                                                    </a>
                                                                            </li>
                                                                            <!-- / SUB-ITEM -->
                                                                            
                                                                    </ul>
                                                                    <!-- / SUB-LIST -->

                                                            </li>
                                                            <!-- / ITEM -->

                                                    </ul>
                                                    <!-- / LIST -->

                                            </div>
                                            <!-- / INFO -->

                                            <!-- DEV -->
                                            <p class="footer__dev">
                                                    Сделано в <a class="footer__link" href="#">VZDH</a>
                                            </p>
                                            <!-- / DEV -->

                                    </div>
                            </div>                                
                    </div>
            </footer>
            <!-- / FOOTER -->