            
            <!-- HEADER -->
            <header class="page__header header">
                <div class="page__container">
                        <div class="page__box">

                                <button class="js-open-popup-button" type="button" data-popup-name="popup-l">
                                        Open Light Popup
                                </button>
                                
                                <button class="js-open-popup-button" type="button" data-popup-name="popup-d">
                                        Open Dark Popup
                                </button>

                        </div>
                </div>
            </header>
            <!-- / HEADER -->