        <!-- POPUP -->
        <div class="body__popup popup js-popup" data-popup-name="popup-l">
            <div class="popup__box">
                    <div class="popup__block popup__block--light js-popup__block">

                            <button class="popup__button pointer js-popup__button" type="button">
                                    <span class="popup__button-box">
                                            <svg class="popup__button-icon popup__button-icon--dark">
                                                    <use href="./assets/images/svg-sprite/svg-sprite.svg#cross"></use>
                                            </svg>
                                    </span>
                            </button>

                            <div class="popup__title title title--ms-44 ui-color-black-100">
                                    Состав якорных смычек
                            </div>

                            <div class="popup__inner no-scrollbar">

                                    <div class="slider js-slider ui-background-white-100 swiper" data-slider-name="popup-slider">
                                    
                                            <div class="swiper-wrapper">

                                                    <figure class="popup__slide slider__slide swiper-slide">
                                                            <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                    </figure>

                                                    <figure class="popup__slide slider__slide swiper-slide">
                                                            <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                    </figure>

                                                    <figure class="popup__slide slider__slide swiper-slide">
                                                            <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                    </figure>

                                            </div>
    
                                            <div class="popup__buttons slider__buttons">

                                                    <button class="slider__button slider__button--l js-slider__button--l pointer" type="button">
                                                            <span class="slider__box">
                                                                    <svg class="slider__icon">
                                                                            <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-w"></use>
                                                                    </svg>
                                                            </span>
                                                    </button>

                                                    <button class="slider__button slider__button--r js-slider__button--r pointer" type="button">
                                                            <span class="slider__box">
                                                                    <svg class="slider__icon">
                                                                            <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-e"></use>
                                                                    </svg>
                                                            </span>
                                                    </button>

                                            </div>
    
                                    </div>

                                    <div class="popup__content">

                                            <div class="text-content ui-color-black-100">

                                                    <p>
                                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                            Velit perspiciatis cumque aspernatur tenetur quae magnam explicabo nisi,
                                                            omnis sequi sed eligendi molestiae illum, voluptate architecto ut
                                                            accusantium reiciendis doloribus, dolore non deleniti minus!
                                                            Eaque laborum quo consequatur dolor necessitatibus iusto
                                                            corrupti sapiente magni, dolorem consequuntur, earum modi
                                                            velit a nam voluptatem nostrum, id aperiam eveniet.
                                                            Earum iusto excepturi dolorem voluptas quia dolore
                                                            quidem deleniti exercitationem dicta eaque nihil at,
                                                            dolor pariatur ipsam iste autem laudantium minus consequatur!
                                                            Sed, quo nisi. Tempore eaque corrupti aut dicta cupiditate
                                                            assumenda voluptatum dolores distinctio temporibus.
                                                            Hic, odio? Aperiam labore doloremque culpa, alias laudantium quo.
                                                    </p>
                                            
                                            </div>

                                            <a class="popup__more-link more-link more-link--dark brief brief--light brief--ms-14 brief--ds-20 ui-color-red-100 pointer" href="#">
                                                    <span class="more-link__box">
                                                            <span class="more-link__text">
                                                                    Подробнее
                                                            </span>
                                                            <svg class="more-link__icon">
                                                                    <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-se"></use>
                                                            </svg>
                                                    </span>
                                            </a>

                                    </div>

                            </div>

                    </div>
            </div>
        </div>
        <!-- / POPUP -->

        <!-- POPUP -->
        <div class="body__popup popup js-popup" data-popup-name="popup-d">
                <div class="popup__box">
                        <div class="popup__block popup__block--dark js-popup__block">

                                <button class="popup__button pointer js-popup__button" type="button">
                                        <span class="popup__button-box">
                                                <svg class="popup__button-icon popup__button-icon--light">
                                                        <use href="./assets/images/svg-sprite/svg-sprite.svg#cross"></use>
                                                </svg>
                                        </span>
                                </button>

                                <div class="popup__title title title--ms-44 ui-color-white-100">
                                        Состав якорных смычек
                                </div>

                                <div class="popup__inner no-scrollbar">

                                        <div class="slider js-slider ui-background-white-100 swiper" data-slider-name="popup-slider">
                                        
                                                <div class="swiper-wrapper">

                                                        <figure class="popup__slide slider__slide swiper-slide">
                                                                <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                        </figure>

                                                        <figure class="popup__slide slider__slide swiper-slide">
                                                                <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                        </figure>

                                                        <figure class="popup__slide slider__slide swiper-slide">
                                                                <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                        </figure>

                                                </div>
        
                                                <div class="popup__buttons slider__buttons">

                                                        <button class="slider__button slider__button--l js-slider__button--l pointer" type="button">
                                                                <span class="slider__box">
                                                                        <svg class="slider__icon">
                                                                                <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-w"></use>
                                                                        </svg>
                                                                </span>
                                                        </button>

                                                        <button class="slider__button slider__button--r js-slider__button--r pointer" type="button">
                                                                <span class="slider__box">
                                                                        <svg class="slider__icon">
                                                                                <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-e"></use>
                                                                        </svg>
                                                                </span>
                                                        </button>

                                                </div>
        
                                        </div>

                                        <div class="popup__content">

                                                <div class="text-content ui-color-white-100">

                                                        <p>
                                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                                Velit perspiciatis cumque aspernatur tenetur quae magnam explicabo nisi,
                                                                omnis sequi sed eligendi molestiae illum, voluptate architecto ut
                                                                accusantium reiciendis doloribus, dolore non deleniti minus!
                                                                Eaque laborum quo consequatur dolor necessitatibus iusto
                                                                corrupti sapiente magni, dolorem consequuntur, earum modi
                                                                velit a nam voluptatem nostrum, id aperiam eveniet.
                                                                Earum iusto excepturi dolorem voluptas quia dolore
                                                                quidem deleniti exercitationem dicta eaque nihil at,
                                                                dolor pariatur ipsam iste autem laudantium minus consequatur!
                                                                Sed, quo nisi. Tempore eaque corrupti aut dicta cupiditate
                                                                assumenda voluptatum dolores distinctio temporibus.
                                                                Hic, odio? Aperiam labore doloremque culpa, alias laudantium quo.
                                                        </p>
                                                
                                                </div>

                                                <a class="popup__more-link more-link more-link--light brief brief--light brief--ms-14 brief--ds-20 ui-color-red-100 pointer" href="#">
                                                        <span class="more-link__box">
                                                                <span class="more-link__text">
                                                                        Подробнее
                                                                </span>
                                                                <svg class="more-link__icon">
                                                                        <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-se"></use>
                                                                </svg>
                                                        </span>
                                                </a>

                                        </div>

                                </div>

                        </div>
                </div>
        </div>
        <!-- / POPUP -->

        <!-- SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <script src="./assets/scripts/script.min.js"></script>
        <!-- / SCRIPTS -->
        
    </body>
    <!-- / Body -->

</html>