<!DOCTYPE html>
<html class="html" lang="@@lang" dir="ltr">

    <!-- Head -->
    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@@title</title>
        <meta name="description" content="Description Text">
        <meta name="keywords" content="Keywords">
        <meta name="author" content="Plastilin Art">
        <!-- / Meta -->

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />  
        <link rel="stylesheet" href="./assets/styles/style.min.css">

        <!-- / Styles -->
    </head>
    <!-- / Head -->

    <!-- Body -->
    <body class="body html__body js-body">